In [ ]:
# finished importing data, no depth integration started on dataset 2/
# dataset 1/ and 3/ not yet included

In [ ]:
# Go Jan 2022
#
# Purpose: combine chl data from measurements in SoG
#
# Data in:
#     1/ DFO / IOS Chl data downloaded from waterproperties.ca in 2020,
#            1979 - 2000
#            .CSV
#             xyzt
#            filtered for any records with chl or flourescence
#            converted by Dhavan at PSF in 2020 to CSV
#     2/ DFO / IOS sample data acquired by E Olson EOAS
#            1980 - 2014
#            n = 
#            sqllite db
#            seems to have exluded some Chl_a measurements as compared to 1/
#            (may have queried for nutrient data and therefore excluded some)
#
#     3/ depth integrated Chl_a from Rich Pawlowicz and Cit Sci program
#            2015-2020
#            See Pawlowicz et al (2020) SoG Atlas for methods
#            (depth integration involved a multiplier downward on Chl-a of 0.6)
#
# Data out: 
#     1/ unified dataset

In [2]:
import pandas as pd
import numpy as np
import datetime as dt 
import geopandas as gpd
#import geoplot
import matplotlib.pyplot as plt 
from netCDF4 import Dataset
import os

#import sys
#!conda install --yes --prefix {sys.prefix} geopandas

#from salishsea_tools import geo_tools as gt
#from salishsea_tools import tidetools as tt
from salishsea_tools import evaltools as et
# to install and use salishsea-tools you may need to open Jupyter from Anaconda, specifically, 
# instead of standalone notebook from 'start menu'.
# To install salishsea tools clone the git locally and use anaconda powershell 
# go to SalishSeaCast/tools folder

# conda env create -f SalishSeaTools/environment.yaml
# activate salishsea-tools
# pip install --editable SalishSeaTools

# https://salishsea-meopar-tools.readthedocs.io/en/latest/SalishSeaTools/development.html#getting-the-code
# https://salishsea-meopar-tools.readthedocs.io/en/latest/SalishSeaTools/api.html#module-salishsea_tools.geo_tools
# salishsea_tools.geo_tools.closestPointArray(lons, lats, model_lons, model_lats, tol2=1, grid='NEMO', land_mask=None, tols={'GEM2.5': {'tol_lat': 0.012, 'tol_lon': 0.016}, 'NEMO': {'tol_lat': 0.00388, 'tol_lon': 0.0104}})
# salishsea_tools.geo_tools.distance_along_curve(lons, lats)
# salishsea_tools.geo_tools.find_closest_model_point(lon, lat, model_lons, model_lats, grid='NEMO', land_mask=None, tols={'GEM2.5': {'tol_lat': 0.012, 'tol_lon': 0.016}, 'NEMO': {'tol_lat': 0.00388, 'tol_lon': 0.0104}}, checkTol=False)
# salishsea_tools.geo_tools.haversine(lon1, lat1, lon2, lat2)

In [94]:
# IOS observational data from DFO, parsed to SQLLite by E Olson (Oct, 2020)
path = "C://Users//Greig//Sync//6. SSMSP Model//Model Greig//Data//28. Phytoplankton//WaterPropsSoG_DFO-Olson_1980-2014//ORIGINAL//"
dbname='DFO_OcProfDB.sqlite'

# replaces need for sqlalchemy (see below) using Salish Sea Tools
#https://github.com/SalishSeaCast/tools/blob/master/SalishSeaTools/salishsea_tools/evaltools.py

# load DFO data automatically
yearmin = 1979
monthmin = 2
daymin = 1
yearmax = 2018
monthmax=12
daymax=30

# filter dfo - depth, year
maxdepth = 40
maxyear = 2018

datelims=(dt.datetime(yearmin,monthmin,daymin),
          dt.datetime(yearmax,monthmax,daymax))
excludeSaanich=True

try:
    from sqlalchemy import create_engine, case, MetaData, event
    from sqlalchemy.orm import *
    from sqlalchemy.ext.automap import automap_base
    from sqlalchemy.sql import and_, or_, not_, func
    from sqlalchemy.ext.declarative import declarative_base, DeferredReflection
except ImportError:
    raise ImportError('You need to install sqlalchemy in your environment to use this function.')

if not os.path.isfile(os.path.join(path, dbname)):
    raise Exception('ERROR: {}.sqlite does not exist'.format(dbname))
engine = sqlalchemy.create_engine('sqlite:///' + path + dbname, echo = True)


# get metadata so you can see some information about the tables loaded above
md=MetaData()
md.reflect(engine)

# list the fields present in the relevant tables:
print('Columns in StationTBL:')
print(sorted([x.name for x in md.tables['StationTBL'].columns]))
print('Columns in ObsTBL:')
print(sorted([x.name for x in md.tables['ObsTBL'].columns]))
# note: the fields in CalcsTBL were calculated from values in ObsTBL and were not present in the original data
print('Columns in CalcsTBL:')
print(sorted([x.name for x in md.tables['CalcsTBL'].columns]))


# following code from evaltools, create pandas df object using sqlalchemy
# automap creates an object from an sql database -GO
#https://docs.sqlalchemy.org/en/14/orm/extensions/automap.html
Base = automap_base()
# reflect the tables 
Base.prepare(engine, reflect=True)
# mapped classes have been created
# existing tables:
StationTBL=Base.classes.StationTBL
ObsTBL=Base.classes.ObsTBL
CalcsTBL=Base.classes.CalcsTBL
session = create_session(bind = engine, autocommit = False, autoflush = True)
SA=case([(CalcsTBL.Salinity_Bottle_SA!=None, CalcsTBL.Salinity_Bottle_SA)], else_=
        case([(CalcsTBL.Salinity_T0_C0_SA!=None, CalcsTBL.Salinity_T0_C0_SA)], else_=
             case([(CalcsTBL.Salinity_T1_C1_SA!=None, CalcsTBL.Salinity_T1_C1_SA)], else_=
                  case([(CalcsTBL.Salinity_SA!=None, CalcsTBL.Salinity_SA)], else_=
                       case([(CalcsTBL.Salinity__Unknown_SA!=None, CalcsTBL.Salinity__Unknown_SA)],
                            else_=CalcsTBL.Salinity__Pre1978_SA)
                      ))))
Tem=case([(ObsTBL.Temperature!=None, ObsTBL.Temperature)], else_=
         case([(ObsTBL.Temperature_Primary!=None, ObsTBL.Temperature_Primary)], else_=
              case([(ObsTBL.Temperature_Secondary!=None, ObsTBL.Temperature_Secondary)], else_=ObsTBL.Temperature_Reversing)))
TemUnits=case([(ObsTBL.Temperature!=None, ObsTBL.Temperature_units)], else_= 
              case([(ObsTBL.Temperature_Primary!=None, ObsTBL.Temperature_Primary_units)], else_=
                   case([(ObsTBL.Temperature_Secondary!=None, ObsTBL.Temperature_Secondary_units)],
                        else_=ObsTBL.Temperature_Reversing_units)))
TemFlag=ObsTBL.Quality_Flag_Temp
CT=case([(CalcsTBL.Temperature_CT!=None, CalcsTBL.Temperature_CT)], else_=
        case([(CalcsTBL.Temperature_Primary_CT!=None, CalcsTBL.Temperature_Primary_CT)], else_=
             case([(CalcsTBL.Temperature_Secondary_CT!=None, CalcsTBL.Temperature_Secondary_CT)],
                  else_=CalcsTBL.Temperature_Reversing_CT)
            ))

if len(datelims)<2:
    qry=session.query(StationTBL.StartYear.label('Year'),StationTBL.StartMonth.label('Month'),
                      StationTBL.StartDay.label('Day'),StationTBL.StartHour.label('Hour'),
                      StationTBL.Lat,StationTBL.Lon,
                      ObsTBL.Pressure,ObsTBL.Depth,ObsTBL.Chlorophyll_Extracted,
                      ObsTBL.Chlorophyll_Extracted_units,ObsTBL.Nitrate_plus_Nitrite.label('N'),
                      ObsTBL.Silicate.label('Si'),ObsTBL.Silicate_units,SA.label('AbsSal'),CT.label('ConsT'),
                      ObsTBL.Oxygen_Dissolved,ObsTBL.Oxygen_Dissolved_units).\
    select_from(StationTBL).join(ObsTBL,ObsTBL.StationTBLID==StationTBL.ID).\
    join(CalcsTBL,CalcsTBL.ObsID==ObsTBL.ID).filter(and_(StationTBL.Lat>47-3/2.5*(StationTBL.Lon+123.5),
                                                         StationTBL.Lat<47-3/2.5*(StationTBL.Lon+121)))
else:
    start_y=datelims[0].year
    start_m=datelims[0].month
    start_d=datelims[0].day
    end_y=datelims[1].year
    end_m=datelims[1].month
    end_d=datelims[1].day
    # unresolved - column EVENT NUMBER and WATER DEPTH have spaces nd can't be queried
    qry=session.query(StationTBL.AGENCY,  StationTBL.ID, StationTBL.PROJECT, 
                      StationTBL.StartYear.label('Year'),StationTBL.StartMonth.label('Month'),
                      StationTBL.StartDay.label('Day'),StationTBL.StartHour.label('Hour'),
                      StationTBL.Lat,StationTBL.Lon,
                      ObsTBL.Pressure,ObsTBL.Depth,ObsTBL.Chlorophyll_Extracted,
                      ObsTBL.Chlorophyll_Extracted_units,ObsTBL.Nitrate_plus_Nitrite.label('N'),
                      ObsTBL.Silicate.label('Si'),ObsTBL.Silicate_units,SA.label('AbsSal'),CT.label('ConsT'),
                      ObsTBL.Oxygen_Dissolved,ObsTBL.Oxygen_Dissolved_units).\
    select_from(StationTBL).join(ObsTBL,ObsTBL.StationTBLID==StationTBL.ID).\
    join(CalcsTBL,CalcsTBL.ObsID==ObsTBL.ID).filter(and_(or_(StationTBL.StartYear>start_y,
                                                             and_(StationTBL.StartYear==start_y, StationTBL.StartMonth>start_m),
                                                             and_(StationTBL.StartYear==start_y, StationTBL.StartMonth==start_m, StationTBL.StartDay>=start_d)),
                                                         or_(StationTBL.StartYear<end_y,
                                                             and_(StationTBL.StartYear==end_y,StationTBL.StartMonth<end_m),
                                                             and_(StationTBL.StartYear==end_y,StationTBL.StartMonth==end_m, StationTBL.StartDay<end_d)),
                                                         StationTBL.Lat>47-3/2.5*(StationTBL.Lon+123.5),
                                                         StationTBL.Lat<47-3/2.5*(StationTBL.Lon+121)))#,
                                                                    #not_(and_(StationTBL.Lat>48.77,StationTBL.Lat<49.27,
                                                                    #          StationTBL.Lon<-123.43))))
if excludeSaanich:
    qry1=qry.filter(not_(and_(StationTBL.Lat>48.47,StationTBL.Lat<48.67, 
                              StationTBL.Lon>-123.6,StationTBL.Lon<-123.43)))
    df1=pd.read_sql_query(qry1.statement, engine)
else:
    df1=pd.read_sql_query(qry.statement, engine)
    df1['Z']=np.where(df1['Depth']>=0,df1['Depth'],-1.0*gsw.z_from_p(p=df1['Pressure'].values,lat=df1['Lat'].values))
    df1['dtUTC']=[dt.datetime(int(y),int(m),int(d))+dt.timedelta(hours=h) for ind, (y,m,d,h) in df1.loc[:,['Year','Month','Day','Hour']].iterrows()]
    session.close()
    engine.dispose()

df1

#print(type(df1))
#print(df1.dtypes)
#print("table length:")
#print(len(df1))
#print("Depth is null count:")
#print(df1['Depth'].isnull().sum())
#print("Pressure is null count:")
#print(df1['Pressure'].isnull().sum())


# Most records don't have explicit depth, use pressure instead
print("Missing depths before:")
print(df1['Depth'].isnull().sum())
df1.loc[df1.Depth.isnull(), 'Depth'] = df1.Pressure
print("After:")
print(df1['Depth'].isnull().sum())

#obs_df = pd.DataFrame(obs_series)
#print(df1.tail(n=20))

print(df1_chl.AGENCY.unique())

# drop nulls from depth and chl
df1_chl = df1.dropna(axis=0, how="any", thresh=None, subset=['Chlorophyll_Extracted','Depth'], inplace=False)
df1_chl

2022-01-27 14:45:16,169 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-27 14:45:16,169 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,173 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("CalcsTBL")
2022-01-27 14:45:16,177 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,185 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,185 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,189 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("CalcsTBL")
2022-01-27 14:45:16,189 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,193 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,193 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,197 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("StationTBL")
2022-01-27 14:45:16,197 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,209 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,213 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,217 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("StationTBL")
2022-01-27 14:45:16,217 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,221 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("StationTBL")
2022-01-27 14:45:16,221 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,225 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,225 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,229 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("StationTBL")
2022-01-27 14:45:16,233 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,233 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("StationTBL")
2022-01-27 14:45:16,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,237 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("StationTBL")
2022-01-27 14:45:16,237 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,241 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("StationTBL")
2022-01-27 14:45:16,241 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,245 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,245 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,249 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("CalcsTBL")
2022-01-27 14:45:16,249 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,253 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("CalcsTBL")
2022-01-27 14:45:16,257 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,257 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("CalcsTBL")
2022-01-27 14:45:16,257 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,261 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("CalcsTBL")
2022-01-27 14:45:16,261 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,265 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,269 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,269 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("JDFLocsTBL")
2022-01-27 14:45:16,273 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,273 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,273 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,277 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("JDFLocsTBL")
2022-01-27 14:45:16,277 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,281 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,281 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,285 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("JDFLocsTBL")
2022-01-27 14:45:16,285 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,289 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("JDFLocsTBL")
2022-01-27 14:45:16,289 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,289 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("JDFLocsTBL")
2022-01-27 14:45:16,289 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,293 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("JDFLocsTBL")
2022-01-27 14:45:16,293 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,297 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,297 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,301 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ObsTBL")
2022-01-27 14:45:16,301 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,349 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,349 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
2022-01-27 14:45:16,353 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ObsTBL")
2022-01-27 14:45:16,353 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,357 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,357 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
2022-01-27 14:45:16,361 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ObsTBL")
2022-01-27 14:45:16,361 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,365 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ObsTBL")
2022-01-27 14:45:16,365 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,369 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ObsTBL")
2022-01-27 14:45:16,369 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,373 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ObsTBL")
2022-01-27 14:45:16,373 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,373 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,373 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
Columns in StationTBL:
['AGENCY', 'COUNTRY', 'DATA DESCRIPTION', 'EVENT NUMBER', 'ID', 'LATITUDE', 'LONGITUDE', 'Lat', 'Lon', 'MISSION', 'PLATFORM', 'PROJECT', 'SCIENTIST', 'START TIME', 'STATION', 'StartDay', 'StartHour', 'StartMonth', 'StartTimeZone', 'StartYear', 'WATER DEPTH', 'WDIR', 'WSPD', 'sourceFile']
Columns in ObsTBL:
['Ammonia', 'Ammonia_units', 'Ammonium', 'Ammonium_units', 'Carbon_Dissolved_Organic', 'Carbon_Dissolved_Organic_units', 'Carbon_Particulate_Organic', 'Carbon_Particulate_Organic_units', 'Carbon_Particulate_Total', 'Carbon_Particulate_Total_units', 'Chlorophyll_Extracted', 'Chlorophyll_Extracted_gt0point7um', 'Chlorophyll_Extracted_gt0point7um_units', 'Chlorophyll_Extracted_gt5point0um', 'Chlorophyll_Extracted_gt5point0um_units', 'Chlorophyll_Extracted_units', 'Chlorophyll_plus_PhaeoPigment_Extracted', 'Chlorophyll_plus_PhaeoPigment_Extracted_units', 'Date', 'Date_units', 'Depth', 'Depth_Nominal', 'Depth_Nominal_units', 'Depth_units', 'Flag_Ammonium', 'Flag_Carbon_Dissolved_Organic', 'Flag_Carbon_Particulate_Total', 'Flag_Chlorophyll', 'Flag_Chlorophyll_Extracted', 'Flag_Nitrate', 'Flag_Nitrate_plus_Nitrite', 'Flag_Nitrite', 'Flag_Nitrogen_Dissolved_Organic', 'Flag_Nitrogen_Particulate_Total', 'Flag_Oxygen_Dissolved', 'Flag_PhaeoPigment_Extracted', 'Flag_Phaeophytin', 'Flag_Phosphate', 'Flag_Salinity', 'Flag_Salinity_Bottle', 'Flag_Silicate', 'Flag_pH', 'Fluorescence_URU', 'Fluorescence_URU_Seapoint', 'Fluorescence_URU_Seapoint_units', 'Fluorescence_URU_Seatech', 'Fluorescence_URU_Seatech_units', 'Fluorescence_URU_Wetlabs', 'Fluorescence_URU_Wetlabs_units', 'Fluorescence_URU_units', 'ID', 'Latitude', 'Latitude_units', 'Longitude', 'Longitude_units', 'Nitrate', 'Nitrate_plus_Nitrite', 'Nitrate_plus_Nitrite_units', 'Nitrate_plus_nitrite_ISUS', 'Nitrate_plus_nitrite_ISUS_Voltage', 'Nitrate_plus_nitrite_ISUS_Voltage_units', 'Nitrate_plus_nitrite_ISUS_units', 'Nitrate_units', 'Nitrite', 'Nitrite_units', 'Nitrogen_Dissolved_Organic', 'Nitrogen_Dissolved_Organic_units', 'Nitrogen_Particulate_Organic', 'Nitrogen_Particulate_Organic_units', 'Nitrogen_Particulate_Total', 'Nitrogen_Particulate_Total_units', 'Oxygen', 'Oxygen_Dissolved', 'Oxygen_Dissolved_SBE', 'Oxygen_Dissolved_SBE_units', 'Oxygen_Dissolved_units', 'Oxygen_units', 'PAR', 'PAR_Reference', 'PAR_Reference_units', 'PAR_units', 'PhaeoPigment_Extracted', 'PhaeoPigment_Extracted_units', 'Phosphate', 'Phosphate(inorg)', 'Phosphate(inorg)_units', 'Phosphate_units', 'Phytoplankton_Volume', 'Phytoplankton_Volume_units', 'Pressure', 'Pressure_Reversing', 'Pressure_Reversing_units', 'Pressure_units', 'Production_Primary', 'Production_Primary_units', 'Quality_Flag_Nitr', 'Quality_Flag_Oxyg', 'Quality_Flag_Phos', 'Quality_Flag_Sali', 'Quality_Flag_Sili', 'Quality_Flag_Temp', 'Quality_Flag_Time', 'Quality_Flag_Tota', 'Salinity', 'Salinity_Bottle', 'Salinity_Bottle_units', 'Salinity_T0_C0', 'Salinity_T0_C0_units', 'Salinity_T1_C1', 'Salinity_T1_C1_units', 'Salinity__Pre1978', 'Salinity__Pre1978_units', 'Salinity__Unknown', 'Salinity__Unknown_units', 'Salinity_units', 'Sample_Method', 'Sample_Method_units', 'Silicate', 'Silicate_units', 'Station', 'StationTBLID', 'Station_units', 'Temperature', 'Temperature_Draw', 'Temperature_Draw_units', 'Temperature_Primary', 'Temperature_Primary_units', 'Temperature_Reversing', 'Temperature_Reversing_units', 'Temperature_Secondary', 'Temperature_Secondary_units', 'Temperature_units', 'Time', 'Time_of_Obs', 'Time_of_Obs_units', 'Time_units', 'Total_Phosphorus', 'Total_Phosphorus_units', 'Transmissivity', 'Transmissivity_units', 'Turbidity_Seapoint', 'Turbidity_Seapoint_units', 'sourceFile']
Columns in CalcsTBL:
['ObsID', 'Oxygen_Dissolved_SBE_umolL', 'Oxygen_Dissolved_umolL', 'Oxygen_umolL', 'Salinity_Bottle_SA', 'Salinity_SA', 'Salinity_T0_C0_SA', 'Salinity_T1_C1_SA', 'Salinity__Pre1978_SA', 'Salinity__Unknown_SA', 'StationID', 'Temperature_CT', 'Temperature_Primary_CT', 'Temperature_Reversing_CT', 'Temperature_Secondary_CT']
2022-01-27 14:45:16,385 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2022-01-27 14:45:16,389 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,389 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("CalcsTBL")
2022-01-27 14:45:16,393 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,397 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,401 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,401 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("CalcsTBL")
2022-01-27 14:45:16,401 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,405 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,405 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,409 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("StationTBL")
2022-01-27 14:45:16,409 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,421 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,421 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,421 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("StationTBL")
2022-01-27 14:45:16,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,425 INFO sqlalchemy.engine.Engine PRAGMA temp.foreign_key_list("StationTBL")
2022-01-27 14:45:16,425 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,429 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,433 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,433 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("StationTBL")
2022-01-27 14:45:16,437 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,437 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("StationTBL")
2022-01-27 14:45:16,437 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,441 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("StationTBL")
2022-01-27 14:45:16,441 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,441 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("StationTBL")
2022-01-27 14:45:16,445 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,445 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,449 INFO sqlalchemy.engine.Engine [raw sql] ('StationTBL',)
2022-01-27 14:45:16,453 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("CalcsTBL")
2022-01-27 14:45:16,453 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,457 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("CalcsTBL")
2022-01-27 14:45:16,457 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,457 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("CalcsTBL")
2022-01-27 14:45:16,457 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,461 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("CalcsTBL")
2022-01-27 14:45:16,461 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,465 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,465 INFO sqlalchemy.engine.Engine [raw sql] ('CalcsTBL',)
2022-01-27 14:45:16,469 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("JDFLocsTBL")
2022-01-27 14:45:16,469 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,473 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,473 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,473 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("JDFLocsTBL")
2022-01-27 14:45:16,477 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,477 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'

2022-01-27 14:45:16,477 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,481 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("JDFLocsTBL")
2022-01-27 14:45:16,481 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,485 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("JDFLocsTBL")
2022-01-27 14:45:16,485 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,485 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("JDFLocsTBL")
2022-01-27 14:45:16,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,489 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("JDFLocsTBL")
2022-01-27 14:45:16,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,493 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,493 INFO sqlalchemy.engine.Engine [raw sql] ('JDFLocsTBL',)
2022-01-27 14:45:16,497 INFO sqlalchemy.engine.Engine PRAGMA main.table_xinfo("ObsTBL")
2022-01-27 14:45:16,497 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,541 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,541 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
2022-01-27 14:45:16,545 INFO sqlalchemy.engine.Engine PRAGMA main.foreign_key_list("ObsTBL")
2022-01-27 14:45:16,549 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,549 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,553 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
2022-01-27 14:45:16,553 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ObsTBL")
2022-01-27 14:45:16,553 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,557 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ObsTBL")
2022-01-27 14:45:16,557 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,557 INFO sqlalchemy.engine.Engine PRAGMA main.index_list("ObsTBL")
2022-01-27 14:45:16,561 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,561 INFO sqlalchemy.engine.Engine PRAGMA temp.index_list("ObsTBL")
2022-01-27 14:45:16,565 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-01-27 14:45:16,565 INFO sqlalchemy.engine.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2022-01-27 14:45:16,565 INFO sqlalchemy.engine.Engine [raw sql] ('ObsTBL',)
2022-01-27 14:45:16,685 INFO sqlalchemy.engine.Engine SELECT "StationTBL"."AGENCY", "StationTBL"."ID", "StationTBL"."PROJECT", "StationTBL"."StartYear" AS "Year", "StationTBL"."StartMonth" AS "Month", "StationTBL"."StartDay" AS "Day", "StationTBL"."StartHour" AS "Hour", "StationTBL"."Lat", "StationTBL"."Lon", "ObsTBL"."Pressure", "ObsTBL"."Depth", "ObsTBL"."Chlorophyll_Extracted", "ObsTBL"."Chlorophyll_Extracted_units", "ObsTBL"."Nitrate_plus_Nitrite" AS "N", "ObsTBL"."Silicate" AS "Si", "ObsTBL"."Silicate_units", CASE WHEN ("CalcsTBL"."Salinity_Bottle_SA" IS NOT NULL) THEN "CalcsTBL"."Salinity_Bottle_SA" ELSE CASE WHEN ("CalcsTBL"."Salinity_T0_C0_SA" IS NOT NULL) THEN "CalcsTBL"."Salinity_T0_C0_SA" ELSE CASE WHEN ("CalcsTBL"."Salinity_T1_C1_SA" IS NOT NULL) THEN "CalcsTBL"."Salinity_T1_C1_SA" ELSE CASE WHEN ("CalcsTBL"."Salinity_SA" IS NOT NULL) THEN "CalcsTBL"."Salinity_SA" ELSE CASE WHEN ("CalcsTBL"."Salinity__Unknown_SA" IS NOT NULL) THEN "CalcsTBL"."Salinity__Unknown_SA" ELSE "CalcsTBL"."Salinity__Pre1978_SA" END END END END END AS "AbsSal", CASE WHEN ("CalcsTBL"."Temperature_CT" IS NOT NULL) THEN "CalcsTBL"."Temperature_CT" ELSE CASE WHEN ("CalcsTBL"."Temperature_Primary_CT" IS NOT NULL) THEN "CalcsTBL"."Temperature_Primary_CT" ELSE CASE WHEN ("CalcsTBL"."Temperature_Secondary_CT" IS NOT NULL) THEN "CalcsTBL"."Temperature_Secondary_CT" ELSE "CalcsTBL"."Temperature_Reversing_CT" END END END AS "ConsT", "ObsTBL"."Oxygen_Dissolved", "ObsTBL"."Oxygen_Dissolved_units"
FROM "StationTBL" JOIN "ObsTBL" ON "ObsTBL"."StationTBLID" = "StationTBL"."ID" JOIN "CalcsTBL" ON "CalcsTBL"."ObsID" = "ObsTBL"."ID"
WHERE ("StationTBL"."StartYear" > ? OR "StationTBL"."StartYear" = ? AND "StationTBL"."StartMonth" > ? OR "StationTBL"."StartYear" = ? AND "StationTBL"."StartMonth" = ? AND "StationTBL"."StartDay" >= ?) AND ("StationTBL"."StartYear" < ? OR "StationTBL"."StartYear" = ? AND "StationTBL"."StartMonth" < ? OR "StationTBL"."StartYear" = ? AND "StationTBL"."StartMonth" = ? AND "StationTBL"."StartDay" < ?) AND "StationTBL"."Lat" > ? - ? * ("StationTBL"."Lon" + ?) AND "StationTBL"."Lat" < ? - ? * ("StationTBL"."Lon" + ?) AND NOT ("StationTBL"."Lat" > ? AND "StationTBL"."Lat" < ? AND "StationTBL"."Lon" > ? AND "StationTBL"."Lon" < ?)
2022-01-27 14:45:16,689 INFO sqlalchemy.engine.Engine [generated in 0.00107s] (1979, 1979, 2, 1979, 2, 1, 2018, 2018, 12, 2018, 12, 30, 47, 1.2, 123.5, 47, 1.2, 121, 48.47, 48.67, -123.6, -123.43)
Missing depths before:
25683
After:
66
['IOS, Ocean Ecology, Sidney, B.C.'
 'IOS, Ocean Sciences Division, Sidney, B.C.'
 'PBS, Ocean Science and Productivity, Sidney, B.C.'
 'IOS, Ocean Science and Productivity, Sidney, BC'
 'IOS, Ocean Science and Productivity. Sidney, BC'
 'IOS, Ocean Science and Productivity, Sidney, B.C.'
 'IOS, Ocean Sciences Division, Sidney'
 'IOS, Ocean Sciences Division, Sidney, BC'
 'PBS, Ecosystem Sciences Division, Nanaimo, B.C.']

,AGENCY,ID,PROJECT,Year,Month,Day,Hour,Lat,Lon,Pressure,Depth,Chlorophyll_Extracted,Chlorophyll_Extracted_units,N,Si,Silicate_units,AbsSal,ConsT,Oxygen_Dissolved,Oxygen_Dissolved_units
0,"IOS, Ocean Ecology, Sidney, B.C.",1,Strait of Georgia Pr,1982.0,7.0,16.0,1.350000,49.250000,-123.943000,NaN,12.0,5.28,mg/m^3,6.60,13.60,umol/L,NaN,NaN,NaN,None
1,"IOS, Ocean Ecology, Sidney, B.C.",1,Strait of Georgia Pr,1982.0,7.0,16.0,1.350000,49.250000,-123.943000,NaN,21.5,0.61,mg/m^3,21.20,45.00,umol/L,NaN,NaN,NaN,None
9,"IOS, Ocean Sciences Division, Sidney, B.C.",37,Line P,2007.0,8.0,29.0,20.016111,51.678000,-127.333333,5.1,5.1,7.03,mg/m^3,17.00,23.00,umol/L,29.046929,9.528417,NaN,None
10,"IOS, Ocean Sciences Division, Sidney, B.C.",38,Line P,2007.0,8.0,29.0,21.636111,51.675667,-127.293000,5.5,5.5,6.60,mg/m^3,17.90,23.80,umol/L,29.041717,9.624807,NaN,None
11,"IOS, Ocean Sciences Division, Sidney, B.C.",46,SoG/JdF,2008.0,6.0,20.0,11.473056,48.470000,-124.547167,2.0,2.0,5.30,mg/m^3,21.30,37.70,umol/L,31.731979,9.648685,6.158,mL/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29157,"IOS, Ocean Sciences Division, Sidney, B.C.",9085,SoG / Van Harbour Water Properties Survey,2018.0,2.0,6.0,17.620000,49.299333,-122.983000,10.1,10.0,0.25,mg/m^3,25.47,57.20,umol/L,25.807440,8.116158,238.200,umol/kg
29158,"IOS, Ocean Sciences Division, Sidney, B.C.",9085,SoG / Van Harbour Water Properties Survey,2018.0,2.0,6.0,17.620000,49.299333,-122.983000,20.3,20.1,0.24,mg/m^3,25.61,57.54,umol/L,26.294613,8.169118,235.500,umol/kg
29163,"IOS, Ocean Sciences Division, Sidney, B.C.",9091,SoG / Van Harbour Water Properties Survey,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,1.4,1.4,0.20,mg/m^3,15.92,48.65,umol/L,18.158550,7.712114,295.000,umol/kg
29166,"IOS, Ocean Sciences Division, Sidney, B.C.",9091,SoG / Van Harbour Water Properties Survey,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,9.9,9.8,0.20,mg/m^3,25.70,59.31,umol/L,25.947112,8.260733,214.100,umol/kg
29167,"IOS, Ocean Sciences Division, Sidney, B.C.",9091,SoG / Van Harbour Water Properties Survey,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,19.9,19.8,0.10,mg/m^3,26.41,64.43,umol/L,26.551662,8.630354,182.800,umol/kg

In [ ]:
# fix

In [89]:
# read other IOS data
StationTBL.columns()

AttributeError: type object 'StationTBL' has no attribute 'columns'

In [78]:
df1_chl.AGENCY.unique()

array(['IOS, Ocean Ecology, Sidney, B.C.',
       'IOS, Ocean Sciences Division, Sidney, B.C.',
       'PBS, Ocean Science and Productivity, Sidney, B.C.',
       'IOS, Ocean Science and Productivity, Sidney, BC',
       'IOS, Ocean Science and Productivity. Sidney, BC',
       'IOS, Ocean Science and Productivity, Sidney, B.C.',
       'IOS, Ocean Sciences Division, Sidney',
       'IOS, Ocean Sciences Division, Sidney, BC',
       'PBS, Ecosystem Sciences Division, Nanaimo, B.C.'], dtype=object)

In [72]:
# problem is that depths are irregular and to integrate across depths assumptions must be made: 
# (1) the maximum depth where there would be chlorophyll
# (2) the decay or interpolation function to fill in missing chl values
# there are also calibration issues (see Pawlowicz et al 2020 because
# Non-photochemical quenching results in a light-dependent reduction of the fluorescence signal, 
# relative to measurements made in darkness - overestimateion of chl-a in daytime requiring adjustment. 
# Pawlowicz adjust using a conversion factor of 0.6)
# (3) the non-photochemical quenching must be accounted for

df1_chl

,Year,Month,Day,Hour,Lat,Lon,Pressure,Depth,Chlorophyll_Extracted,Chlorophyll_Extracted_units,N,Si,Silicate_units,AbsSal,ConsT,Oxygen_Dissolved,Oxygen_Dissolved_units
0,1982.0,7.0,16.0,1.350000,49.250000,-123.943000,NaN,12.0,5.28,mg/m^3,6.60,13.60,umol/L,NaN,NaN,NaN,None
1,1982.0,7.0,16.0,1.350000,49.250000,-123.943000,NaN,21.5,0.61,mg/m^3,21.20,45.00,umol/L,NaN,NaN,NaN,None
9,2007.0,8.0,29.0,20.016111,51.678000,-127.333333,5.1,5.1,7.03,mg/m^3,17.00,23.00,umol/L,29.046929,9.528417,NaN,None
10,2007.0,8.0,29.0,21.636111,51.675667,-127.293000,5.5,5.5,6.60,mg/m^3,17.90,23.80,umol/L,29.041717,9.624807,NaN,None
11,2008.0,6.0,20.0,11.473056,48.470000,-124.547167,2.0,2.0,5.30,mg/m^3,21.30,37.70,umol/L,31.731979,9.648685,6.158,mL/L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29157,2018.0,2.0,6.0,17.620000,49.299333,-122.983000,10.1,10.0,0.25,mg/m^3,25.47,57.20,umol/L,25.807440,8.116158,238.200,umol/kg
29158,2018.0,2.0,6.0,17.620000,49.299333,-122.983000,20.3,20.1,0.24,mg/m^3,25.61,57.54,umol/L,26.294613,8.169118,235.500,umol/kg
29163,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,1.4,1.4,0.20,mg/m^3,15.92,48.65,umol/L,18.158550,7.712114,295.000,umol/kg
29166,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,9.9,9.8,0.20,mg/m^3,25.70,59.31,umol/L,25.947112,8.260733,214.100,umol/kg
29167,2018.0,2.0,7.0,1.859167,49.304833,-122.941167,19.9,19.8,0.10,mg/m^3,26.41,64.43,umol/L,26.551662,8.630354,182.800,umol/kg

In [53]:
df1_chl = df1['Chlorophyll_Extracted'].dropnna

24515