### to do: 
#### fix issues with non-spawners in SS seasonally estimate
#### using the VBGF from PSC yields estimates of TL and FL that seem quite low (~75 cm for age 5 chinook?)
#### 

## Process age 2+ Salish Sea Chinook data
**Created** Jul - Aug 2019 <br>
**Modified** - May 2021 <br>
**Author:** Greig Oldford <br>

This is a Jupyter Python 3 Notebook which runs in a browser <br>

Note: I coped this May 2021 from the notebook I made for Fanny Couture. <br>
To do: insert section for calculation of biomass <br>
     
**"Data" In** <br> 
1) Pacific Salmon Commission TCCHINOOK v1-27 AC6 model data (C Parken, Pers Comm, 2020) <br>
  (includes catch at age and abundance estimates by year and stock) <br>
2) seasonal distribution estimates for fall run fish (Shelton et al., 2019) <br>
3) seasonal distribution estimates for summer / spring run fish (various sources - see write-up) <br>
4) priority stocks for SRKW (from Fanny) <br>
5) stock codes and supplemental data (various sources) <br>
6) stock specific fork length at-age VBGF equations provided by C Parken (see accompanying email for error Fanny found) <br>
7) general FL:TL conversion from Fishbase
8) TL:mass(kg) equations from Jones, Petrell, & Pauly (1999)
9) L:mass equation from Schneider et al (2000) provided by Fanny
10) natural mortality at age from PSC (2018, p. 16)

**Data Out** <br>
1) table of estimated seasonal abundance by stock, age and season

**Process**<br>
1) Define stocks <br>
2) Extract cohort abundance, terminal run, escapements <br>
3) Extract and match total fisheries catches for fisheries inside Salish Sea <br>
4) Prepare seasonal estimates of proportion of cohorts inside Salish Sea <br>
5) Calculate length and mass
6) Join all together and export <br>
    
    
**Notes:** <br>
To-do: In final step I am not exporting catch - add catch (and other trimmed fields for Fanny?) - GO 2021-02-11

The fall run stocks seem to spend more time while reaching maturation in the SS, although this is highly uncertain (Brown et al., 2019). <br>
Used Shelton et al., 2019, marine distribution estimates for fall run and then used another method for spring and summer run. <br>



#### Old notes

##### process notes
        Define stocks with codes, run timing (following PSC)
        Enter the seasonal stock proportion estimates inside Salish Sea
        Read the age-structured abundance estimates
          pivot data, add stock descriptors
        Read CWT recoveries
          query only Salish Sea recoveries
          aggregate length-at-age by stock and season
          mean and count of len-at-age by stock
          query and group by other methods... 
        Join tables 
          join abundance and stock proportion estimates
          calculate abundance in SS (weighted abun)
          join with CWT recoveries w/ length-at-age
          calculate mean length-at-age
        Pivot and aggregate to final population tables

## TOC: 
<a class="anchor" id="top"></a>
* [1. Define Stocks](#section-1)
* [2. PSC Stock Cohort Estimates](#section-2)
* [3. PSC Catch estimates inside SS](#section-3)
* [4. Seasonal distribution](#section-4)
* [5. Length at Age and Weight at age calculations](#section-5)
* [6a. Putting it all together - SRKW model](#section-6a)
* [6b. Putting it all together - EwE model](#section-6b)
* [experiments etc](#section-8)

In [2]:
# required libraries
import pandas as pd
import numpy as np
import math

pd.set_option('precision', 3)

## 1. Define stocks <a class="anchor" id="section-1"></a>
- stocks by season of year, season of run (runtype), and Fraser, Puget Sound, or SoG

[BACK TO TOP](#top)

In [3]:
stocks_df = pd.DataFrame()

# stock codes from PSC TCCHINOOOK Model
stocks_df['Stock'] = ["FS2","FS3","FSO","FSS","FHF","FCF","NKF","PSF","PSN",
                      "PSY","NKS","SKG","STL","SNO","MGS","LGS"]

# stock long names (Brown et al., 2019, table 2 / 5)
stocks_df['Name'] = ["Fraser Spring 1.2","Fraser Spring 1.3","Fraser Summer Ocean-type 0.3",
                     "Fraser Summer Stream-type 1.3","Harrison Fall","Chilliwack Fall Hatchery",
                     "Nooksack Fall","Pgt Sd Fing","Pgt Sd NatF","Pgt Sd Year","Nooksack Spring",
                     "Skagit Wild","Stillaguamish Wild","Snohomish Wild","Middle Georgia Strait Fall (Nanaimo / Chemainus)","Lower Georgia Strait (Cowichan)"]

# Canadian Conservation Unit ID's (Brown et al., 2019, table 2 / 5)
stocks_df['Cons Units'] = ["CK-16, CK-17","CK-10, CK-12, CK-18","CK-13, CK-15",
                           "CK-09, CK-11, CK-14, CK-19","CK-03","CK-9008/ CK-03",
                          "na","na","na","na","na","na","na","na","CK-25","CK-22"
                          ] 

stocks_df['area'] = ["fraser","fraser","fraser","fraser","fraser","fraser",
                     "PS","PS","PS","PS","PS","PS","PS","PS","ECVI","ECVI"]

# add run type (PSC Model Doc, TCCHINOOK 18.1.2, Fig 29)
stocks_df['runtype'] = ["spring","spring","summer","summer","fall","fall","fall","fall",
                        "fall","fall","spring","fall","fall","summer","fall","fall"]

# add dominant juvenile behaviour
# (TChinook 18.1.2 Fig 29), table 2, 5 from Brown et al. 2019
stocks_df['juve_behav'] = ["stream","stream","ocean","stream","ocean","ocean","ocean","ocean",
                          "ocean","stream","both","ocean","ocean","ocean","ocean","ocean"]
stocks_df

,Stock,Name,Cons Units,area,runtype,juve_behav
0,FS2,Fraser Spring 1.2,"CK-16, CK-17",fraser,spring,stream
1,FS3,Fraser Spring 1.3,"CK-10, CK-12, CK-18",fraser,spring,stream
2,FSO,Fraser Summer Ocean-type 0.3,"CK-13, CK-15",fraser,summer,ocean
3,FSS,Fraser Summer Stream-type 1.3,"CK-09, CK-11, CK-14, CK-19",fraser,summer,stream
4,FHF,Harrison Fall,CK-03,fraser,fall,ocean
5,FCF,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
6,NKF,Nooksack Fall,na,PS,fall,ocean
7,PSF,Pgt Sd Fing,na,PS,fall,ocean
8,PSN,Pgt Sd NatF,na,PS,fall,ocean
9,PSY,Pgt Sd Year,na,PS,fall,stream
10,NKS,Nooksack Spring,na,PS,spring,both
11,SKG,Skagit Wild,na,PS,fall,ocean
12,STL,Stillaguamish Wild,na,PS,fall,ocean
13,SNO,Snohomish Wild,na,PS,summer,ocean
14,MGS,Middle Georgia Strait Fall (Nanaimo / Chemainus),CK-25,ECVI,fall,ocean
15,LGS,Lower Georgia Strait (Cowichan),CK-22,ECVI,fall,ocean

## 2. PSC Stock Abundance Data<a class="anchor" id="section-2"></a>
- Pacific Salmon Commission TCCHINOOK v1-27 AC6 model data (C Parken, Pers Comm, 2020)<br>
[BACK TO TOP](#top)

In [6]:
PSC_df = pd.read_csv("C://Users//Greig//Sync//6. SSMSP Model//Model Greig//Data//1. Salmon//Chinook Abundance//ChinookAbundance_PSC_2020//MODIFIED//CTC_Model_Outputs.csv")

# fix blank spaces 
def fix_code (row):
    # Fraser
    if (row['Stock'] == " FS2"):
        return 'FS2'
    if (row['Stock'] == ' FS3'):
        return 'FS3'
    if (row['Stock'] == ' FSO'):
        return 'FSO'
    if (row['Stock'] == ' FSS'):
        return 'FSS'
    if (row['Stock'] == ' FHF'):
        return 'FHF'
    if (row['Stock'] == ' FCF'):
        return 'FCF'
    # Puget Sound
    if (row['Stock'] == ' NKF'):
        return 'NKF'
    if (row['Stock'] == ' PSF'):
        return 'PSF'
    if (row['Stock'] == ' PSN'):
        return 'PSN'
    if (row['Stock'] == ' PSY'):
        return 'PSY'
    if (row['Stock'] == ' NKS'):
        return 'NKS'
    if (row['Stock'] == ' SKG'):
        return 'SKG'
    if (row['Stock'] == ' STL'):
        return 'STL'
    if (row['Stock'] == ' SNO'):
        return 'SNO'
     # SoG
    if (row['Stock'] == ' LGS'):
        return 'LGS'
    if (row['Stock'] == ' MGS'):
        return 'MGS'
    return 'Other'

# Apply the function above
PSC_df['Stock'] = PSC_df.apply (lambda row: fix_code(row), axis=1)
PSC_df[0:60]

    Year  StockNum Stock  Age  AEQCohort  Cohort  Terminal Run  Escapement
0   1979         7   FS2    2  26381.184   37964        612.67      453.11
1   1979         7   FS2    3  24832.051   25344      12833.14    10534.20
2   1979         7   FS2    4   1483.000    1483       1035.05      696.21
3   1979         7   FS2    5      0.000       0          0.00        0.00
4   1980         7   FS2    2  18201.516   26193        424.27      315.38
5   1980         7   FS2    3  20171.143   20587      10456.00     8596.11
6   1980         7   FS2    4   1442.000    1442       1007.22      677.54
7   1980         7   FS2    5      0.000       0          0.00        0.00
8   1981         7   FS2    2  24760.677   35632        577.11      428.80
9   1981         7   FS2    3  13968.029   14256       7238.73     5950.34
10  1981         7   FS2    4   1175.000    1175        820.87      552.18
11  1981         7   FS2    5      0.000       0          0.00        0.00
12  1982         7   FS2    2  13565.032   19504        316.26      235.11
13  1982         7   FS2    3  19000.282   19392       9832.75     8083.95
14  1982         7   FS2    4    813.000     813        568.35      382.32
15  1982         7   FS2    5      0.000       0          0.00        0.00
16  1983         7   FS2    2  22391.491   32367        311.81      307.38
17  1983         7   FS2    3  10420.836   10627       5245.42     3702.02
18  1983         7   FS2    4   1105.000    1105        791.47      248.00
19  1983         7   FS2    5      0.000       0          0.00        0.00
20  1984         7   FS2    2  31221.626   45131        435.01      430.13
21  1984         7   FS2    3  17575.294   17923       9429.99     7806.70
22  1984         7   FS2    4    562.000     562        432.22      259.55
23  1984         7   FS2    5      0.000       0          0.00        0.00
24  1985         7   FS2    2  34538.115   49925        484.86      479.46
25  1985         7   FS2    3  24518.922   25004      13234.68    11158.34
26  1985         7   FS2    4   1011.000    1011        735.56      468.16
27  1985         7   FS2    5      0.000       0          0.00        0.00
28  1986         7   FS2    2  20100.941   29056        284.26      281.11
29  1986         7   FS2    3  27328.341   27869      14417.73    12176.28
30  1986         7   FS2    4   1418.000    1418       1018.67      651.64
31  1986         7   FS2    5      0.000       0          0.00        0.00
32  1987         7   FS2    2  17930.764   25919        253.21      230.95
33  1987         7   FS2    3  16022.023   16339       8739.69     6880.11
34  1987         7   FS2    4   1545.000    1545       1125.36      597.94
35  1987         7   FS2    5      0.000       0          0.00        0.00
36  1988         7   FS2    2  25802.252   36413       1516.61     1417.59
37  1988         7   FS2    3  14271.652   14554       7870.41     6449.17
38  1988         7   FS2    4    937.000     937        628.21      376.09
39  1988         7   FS2    5      0.000       0          0.00        0.00
40  1989         7   FS2    2  15203.602   22987          0.00        0.00
41  1989         7   FS2    3  18952.297   19345      10485.44     7953.19
42  1989         7   FS2    4    844.000     844        549.47      276.06
43  1989         7   FS2    5      0.000       0          0.00        0.00
44  1990         7   FS2    2  22951.758   33086        125.10      108.91
45  1990         7   FS2    3  12430.159   13155       5708.40     4334.00
46  1990         7   FS2    4   1184.000    1184        775.73      371.37
47  1990         7   FS2    5      0.000       0          0.00        0.00
48  1991         7   FS2    2  31810.845   45771       1320.78     1214.30
49  1991         7   FS2    3  18605.923   18830      10837.99     7883.33
50  1991         7   FS2    4   2171.000    2171       1504.11      581.62
51  1991         7   FS2    5      0.000       0          0.00        0.00
52  1992         7   FS2    2  45005.209   64422        570.04      534.19
53  1992         7   FS2    3  24235.302   24990      12710.53     9114.99
54  1992         7   FS2    4    688.000     688        465.63      165.48
55  1992         7   FS2    5      0.000       0          0.00        0.00
56  1993         7   FS2    2  50563.797   73196       1422.57     1370.12
57  1993         7   FS2    3  35888.378   36207      20920.13    15366.82
58  1993         7   FS2    4   2264.000    2264       1572.18      611.32
59  1993         7   FS2    5      0.000       0          0.00        0.00

## 3) Add catch and escapement data for Salish Sea (PSC CTC model)<a class="anchor" id="section-3"></a>
- calculate catch for each cohort for fisheries within the Salish Sea <br>
- add this to the escapement estimate for pre-spawning abundance in the Salish Sea <br>
- expand based on natural mortality estimates <br>
[BACK TO TOP](#top)

In [7]:
# same original source as above
Catch_df = pd.read_csv("C://Users//Greig//Sync//6. SSMSP Model//Model Greig//Data//1. Salmon//Chinook Abundance//ChinookAbundance_PSC_2020//MODIFIED//CTC_Catch.csv")

# fix the spaces in the stock names (as above)
Catch_df['Stock'] = Catch_df.apply (lambda row: fix_code(row), axis=1)

# # catch versus cohort crosscheck, all fisheries whole cohort
# # only select records from Salish Sea, excluding terminal fisheries 
# #  (these are selected based on codes in the original CTC model sheet
Catch_all_df = Catch_df[['Year','FishNum','Stock','Age','Catch', 'Shakers']]


# sum SS catches across fisheries
Catch_all_grouped = (Catch_all_df.groupby(['Year', 'Stock', 'Age'])
                     .agg({'Catch': 'sum','Shakers':'sum'})
                     .assign(TotalCatchEst=lambda x: x['Catch'] + x['Shakers'])).reset_index()

# drop unwanted columns
Catch_all_df_grp2 = Catch_all_grouped.drop(columns=['Shakers', 'Catch'])


CatchAbund_allfisheries_df = pd.merge(PSC_df,Catch_all_df_grp2, on=['Year','Stock','Age'], how='inner')
CatchAbund_allfisheries_df2 = CatchAbund_allfisheries_df.drop(columns=['AEQCohort','Terminal Run'])

#print("columns:")
#print(Catch_df.dtypes)

# only select records from Salish Sea, excluding terminal fisheries 
#  (these are selected based on codes in the original CTC model sheet
Catch_in_df = Catch_df.loc[(Catch_df['FishNum'] == 8) | (Catch_df['FishNum'] == 12) |
                       (Catch_df['FishNum'] == 13) | (Catch_df['FishNum'] == 14) |
                       (Catch_df['FishNum'] == 15) | (Catch_df['FishNum'] == 21) |
                       (Catch_df['FishNum'] == 22) | (Catch_df['FishNum'] == 23) |
                       (Catch_df['FishNum'] == 25) | (Catch_df['FishNum'] == 26) |
                       (Catch_df['FishNum'] == 35) | (Catch_df['FishNum'] == 36) |
                       (Catch_df['FishNum'] == 38) | (Catch_df['FishNum'] == 39) |
                       (Catch_df['FishNum'] == 45) | (Catch_df['FishNum'] == 46) |
                       (Catch_df['FishNum'] == 47) 
                       ]

Catch_out_df = Catch_df.loc[(Catch_df['FishNum'] != 8) & (Catch_df['FishNum'] != 12) &
                       (Catch_df['FishNum'] != 13) & (Catch_df['FishNum'] != 14) &
                       (Catch_df['FishNum'] != 15) & (Catch_df['FishNum'] != 21) &
                       (Catch_df['FishNum'] != 22) & (Catch_df['FishNum'] != 23) &
                       (Catch_df['FishNum'] != 25) & (Catch_df['FishNum'] != 26) &
                       (Catch_df['FishNum'] != 35) & (Catch_df['FishNum'] != 36) &
                       (Catch_df['FishNum'] != 38) & (Catch_df['FishNum'] != 39) &
                       (Catch_df['FishNum'] != 45) & (Catch_df['FishNum'] != 46) &
                       (Catch_df['FishNum'] != 47) 
                       ]
# only select records from Salish Sea, excluding terminal fisheries ('TN')
#  (following 'FishNum' (fishery #) codes: 8,13,14,15,25,26,35,36,38,39)
#  (these are selected based on codes in the model files (C. Parken / CTC)
# Catch_df = Catch_df.loc[(Catch_df['FishNum'] == 8) | (Catch_df['FishNum'] == 13) |
#                        (Catch_df['FishNum'] == 14) | (Catch_df['FishNum'] == 15) |
#                        (Catch_df['FishNum'] == 25) | (Catch_df['FishNum'] == 26) |
#                        (Catch_df['FishNum'] == 35) | (Catch_df['FishNum'] == 36) |
#                        (Catch_df['FishNum'] == 38) | (Catch_df['FishNum'] == 39)]

# 8,12,13,14,15,21,22,23,25,26,35,36,38,39,45,46,47

Catch_in_df = Catch_in_df[['Year','FishNum','Stock','Age','Catch', 'Shakers']]
Catch_out_df = Catch_out_df[['Year','FishNum','Stock','Age','Catch', 'Shakers']]

Catch_in_df_grouped = (Catch_in_df.groupby(['Year', 'Stock', 'Age'])
   .agg({'Catch': 'sum','Shakers':'sum'})
   .assign(TotalCatchEst_in=lambda x: x['Catch'] + x['Shakers'])).reset_index()

Catch_out_df_grouped = (Catch_out_df.groupby(['Year', 'Stock', 'Age'])
   .agg({'Catch': 'sum','Shakers':'sum'})
   .assign(TotalCatchEst_out=lambda x: x['Catch'] + x['Shakers'])).reset_index()

Catch_in_df_grp2 = Catch_in_df_grouped.drop(columns=['Shakers', 'Catch'])
Catch_out_df_grp2 = Catch_out_df_grouped.drop(columns=['Shakers', 'Catch'])

# join the catch and abundance tables
CatchAbund_in_df = pd.merge(PSC_df,Catch_in_df_grp2, on=['Year','Stock','Age'], how='inner')
CatchAbund_df = pd.merge(CatchAbund_in_df,Catch_out_df_grp2, on=['Year','Stock','Age'], how='inner')
CatchAbund_df2 = CatchAbund_df.drop(columns=['AEQCohort','Terminal Run'])

# The abundance calculated as SS_AbunEst is a MINIMUM that must have been present to account for observations
# note: this is technically not correct since not all catch is of would-be spawners but I would need
#       a way to divide catch between spawners and non-spawners (maturation schedules). 
#       The two (spawners and non-spawners) get combined in the end for biomass estimates, so doesn't matter. 
CatchAbund_df2['SS_spawners'] = CatchAbund_df2['Escapement'] + CatchAbund_df2['TotalCatchEst_in']

# predation mortalities based on the natural mortality estimates used in PSC 2018 (p. 16)
predmort_df = pd.DataFrame()
predmort_df["Age"] = [2,3,4,5,6]
predmort_df["M"] = [0.51, 0.36, 0.22, 0.1, 0.1]

CatchAbund_df2 = pd.merge(CatchAbund_df2, predmort_df, on=['Age'], how='inner')
#CatchAbund_df2["M"] = CatchAbund_df2["M_y"] 
#CatchAbund_df2["M"] = CatchAbund_df2.drop(columns=["M_y","M_x"])

CatchAbund_df2['SS_spawners_p'] = CatchAbund_df2['SS_spawners'] / np.power(math.e, (CatchAbund_df2['M']/6) * -1)
CatchAbund_df2['nonspawners'] = CatchAbund_df2['Cohort'] - CatchAbund_df2['SS_spawners_p']
CatchAbund_df2['SS_spawners'] = CatchAbund_df2['SS_spawners_p']

In [77]:
# in some years catch > cohort (find those years and export)
CatchAbund_allfisheries_df2['crosscheck'] = CatchAbund_allfisheries_df2['Cohort'] - CatchAbund_allfisheries_df2['TotalCatchEst']
weird = CatchAbund_allfisheries_df2.loc[(CatchAbund_allfisheries_df2['crosscheck']<0) & (CatchAbund_allfisheries_df2['Stock']!="Other")].sort_values(['Year','Stock','Age'])
weird = weird.drop(columns=["Escapement"])
weird.to_csv (r'Cohort_minus_catch_error.csv', index = True, header=True)

In [49]:
# CatchAbund_allfisheries_df2.loc[(CatchAbund_allfisheries_df2['Stock']=='FSO') & (CatchAbund_allfisheries_df2['Year']==2019)]
CatchAbund_df2.groupby(["Year"]).sum()

,StockNum,Age,Cohort,Escapement,TotalCatchEst_in,TotalCatchEst_out,SS_spawners,M,SS_spawners_p,nonspawners
Year,,,,,,,,,,
1979,1212,252,6194257,394822.84,1.266e+06,5.778e+05,1.758e+06,21.42,1.758e+06,4.436e+06
1980,1212,252,6104676,379707.15,1.169e+06,5.321e+05,1.640e+06,21.42,1.640e+06,4.464e+06
1981,1212,252,5738191,335905.00,9.748e+05,4.495e+05,1.387e+06,21.42,1.387e+06,4.351e+06
1982,1212,252,5946307,353607.37,7.933e+05,5.424e+05,1.213e+06,21.42,1.213e+06,4.733e+06
1983,1212,252,6785547,374305.45,9.011e+05,4.123e+05,1.351e+06,21.42,1.351e+06,5.435e+06
1984,1212,252,6928163,387146.49,1.050e+06,4.252e+05,1.522e+06,21.42,1.522e+06,5.406e+06
1985,1212,252,5713969,445795.40,7.520e+05,3.696e+05,1.261e+06,21.42,1.261e+06,4.453e+06
1986,1212,252,5200842,494665.97,6.471e+05,3.436e+05,1.198e+06,21.42,1.198e+06,4.003e+06
1987,1212,252,4619444,396629.46,4.516e+05,2.917e+05,8.895e+05,21.42,8.895e+05,3.730e+06
1988,1212,252,6005106,379525.38,4.947e+05,3.165e+05,9.200e+05,21.42,9.200e+05,5.085e+06
1989,1212,252,5274743,408627.21,5.887e+05,3.352e+05,1.049e+06,21.42,1.049e+06,4.226e+06
1990,1212,252,5180174,496777.52,5.475e+05,3.911e+05,1.095e+06,21.42,1.095e+06,4.085e+06
1991,1212,252,4565461,370240.21,4.571e+05,2.833e+05,8.688e+05,21.42,8.688e+05,3.697e+06
1992,1212,252,4372384,443899.98,4.456e+05,2.810e+05,9.332e+05,21.42,9.332e+05,3.439e+06
1993,1212,252,3557750,350595.97,4.087e+05,2.285e+05,7.971e+05,21.42,7.971e+05,2.761e+06
1994,1212,252,3546060,373303.41,3.030e+05,1.631e+05,7.106e+05,21.42,7.106e+05,2.835e+06
1995,1212,252,3581295,360454.16,2.858e+05,1.203e+05,6.799e+05,21.42,6.799e+05,2.901e+06
1996,1212,252,4658710,409798.42,3.388e+05,6.137e+04,7.881e+05,21.42,7.881e+05,3.871e+06
1997,1212,252,4001133,477371.01,2.948e+05,1.601e+05,8.102e+05,21.42,8.102e+05,3.191e+06
1998,1212,252,4237524,637169.65,1.803e+05,1.235e+05,8.553e+05,21.42,8.553e+05,3.382e+06
1999,1212,252,4162366,502278.79,2.306e+05,1.266e+05,7.684e+05,21.42,7.684e+05,3.394e+06
2000,1212,252,4908285,469430.12,2.207e+05,1.425e+05,7.240e+05,21.42,7.240e+05,4.184e+06
2001,1212,252,5654867,595936.56,2.837e+05,1.406e+05,9.229e+05,21.42,9.229e+05,4.732e+06
2002,1212,252,5462519,622703.78,2.693e+05,2.046e+05,9.340e+05,21.42,9.340e+05,4.528e+06
2003,1212,252,5196657,727342.71,2.488e+05,2.131e+05,1.020e+06,21.42,1.020e+06,4.177e+06
2004,1212,252,5135759,611566.98,2.487e+05,2.385e+05,9.005e+05,21.42,9.005e+05,4.235e+06
2005,1212,252,5193017,531377.96,2.363e+05,2.685e+05,8.041e+05,21.42,8.041e+05,4.389e+06
2006,1212,252,4377622,561006.99,2.460e+05,2.955e+05,8.445e+05,21.42,8.445e+05,3.533e+06
2007,1212,252,4447880,517092.42,2.857e+05,2.440e+05,8.423e+05,21.42,8.423e+05,3.606e+06
2008,1212,252,4094494,421605.86,2.359e+05,1.695e+05,6.896e+05,21.42,6.896e+05,3.405e+06
2009,1212,252,5008003,525170.51,2.559e+05,1.690e+05,8.214e+05,21.42,8.214e+05,4.187e+06
2010,1212,252,4349679,593973.87,2.107e+05,2.050e+05,8.443e+05,21.42,8.443e+05,3.505e+06
2011,1212,252,3900269,528764.17,2.405e+05,1.914e+05,8.054e+05,21.42,8.054e+05,3.095e+06
2012,1212,252,3769188,383969.75,2.529e+05,1.318e+05,6.673e+05,21.42,6.673e+05,3.102e+06
2013,1212,252,4616601,513154.74,2.639e+05,1.051e+05,8.174e+05,21.42,8.174e+05,3.799e+06
2014,1212,252,4118591,436185.36,2.298e+05,1.657e+05,6.985e+05,21.42,6.985e+05,3.420e+06
2015,1212,252,4145599,547532.43,2.718e+05,1.565e+05,8.571e+05,21.42,8.571e+05,3.289e+06
2016,1212,252,4165087,469307.95,2.305e+05,1.676e+05,7.347e+05,21.42,7.347e+05,3.430e+06
2017,1212,252,4238630,440928.69,3.341e+05,1.619e+05,8.143e+05,21.42,8.143e+05,3.424e+06
2018,1212,252,4491012,454086.01,3.407e+05,1.285e+05,8.350e+05,21.42,8.350e+05,3.656e+06
2019,1212,252,4332063,432207.22,4.067e+06,1.971e+06,4.745e+06,21.42,4.745e+06,-4.130e+05
2020,1212,252,4135365,418802.42,3.374e+05,1.744e+05,7.949e+05,21.42,7.949e+05,3.340e+06

## 4) Estimate Marine Distribution & Abundance in SS Seasonally
in / out Salish Sea by season and 'stock' <br>
For fall Chinook, seasonal distribution is estimated in Shelton et al. (2019; digitized from Fig. 3). <br>
Spring / summer run stock estimates were based on ocean rearing behaviour reported in Brown et al (2019) <br>
  (these stocks rear outside of Salish Sea, generally). <br>
Estimate of abundance within Salish is based simply on: <br>
Nss = Css + T  (where Css = catch by fisheries in Salish Sea, T = terminal run size estimate) <br>
This represents a minimum abundance in the months that the fish are spawning (and several weeks prior as they transit) and it isn't accounting for predation. <br>


  
  <a class="anchor" id="section-4"></a>
[BACK TO TOP](#top)

In [9]:
SM_df = pd.DataFrame()

# define stocks
SM_df['area'] = ["fraser","fraser","fraser","fraser",
                 "PS","PS","PS","PS",
                 "fraser","fraser","fraser","fraser",
                 "PS","PS","PS","PS",
                 "fraser","fraser","fraser","fraser",
                 "PS","PS","PS","PS",
                  "ECVI","ECVI","ECVI","ECVI"]

SM_df['runtype'] = ["spring","spring","spring","spring",
                   "spring","spring","spring","spring",
                   "summer","summer","summer","summer",
                   "summer","summer","summer","summer",
                   "fall","fall","fall","fall",
                   "fall","fall","fall","fall",
                   "fall","fall","fall","fall"]

# season definitions match Shelton et al. (2019)
# winter: Nov - Mar
# spring: Apr - May
# summer: Jun - Jul
# fall:   Aug - Oct
SM_df['season'] =["spring", "summer", "fall", "winter",
                 "spring", "summer", "fall", "winter",
                 "spring", "summer", "fall", "winter",
                 "spring", "summer", "fall", "winter",
                 "spring","summer","fall", "winter",
                 "spring","summer","fall", "winter",
                 "spring","summer","fall", "winter"]


# distribution of spawners across seasons estimated from several sources(see write up)
# (subtracted two weeks to account for transit)
SM_df['spawner_seasonality'] = [0.5, 0.5, 0, 0,     # spring / fraser
                                0.66, 0.33, 0, 0,   # spring / PS
                                0.3, 0.5, 0.2, 0,   # summer / fraser
                                0.25, 0.5, 0.25, 0, # summer / PS
                                0, 0.3, 0.7, 0,     # fall /  fraser
                                0, 0.3, 0.7, 0,     # fall /  PS
                                0, 0.3, 0.7, 0      # fall /  SG
                               ]

# seasonal proportion in salish sea of non-spawners (and pre-spawners)
SM_df['nonspawners_inSS'] = [0.05, 0.05, 0.05, 0.05,
                             0.05, 0.05, 0.05, 0.05,
                             0.05, 0.05, 0.05, 0.05,
                             0.05, 0.05, 0.05, 0.05,
                             0.35, 0.35, 0.4, 0.4,
                             0.3, 0.25, 0.35, 0.35, 
                             0.35, 0.35, 0.4, 0.4
                            ]
# join tables
stocktiming_df = pd.merge(stocks_df, SM_df, on=['area','runtype'], how='inner')


# drop some columns and pivot to keep it simple
stocktiming_df2 = stocktiming_df.drop(columns=["Name","Cons Units","juve_behav","area"])

# pivot
stockprop_piv = pd.pivot_table(stocktiming_df2, values = ['spawner_seasonality','nonspawners_inSS'], index=['Stock','runtype'], columns = 'season')
#stockprop_piv = stockprop_piv.rename(columns={"fall": "fall_prop", "spring": "spring_prop", "summer": "summer_prop", "winter": "winter_prop"})

# join to catch + abundance table
CatchAbunProp1 = pd.merge(CatchAbund_df2, stockprop_piv, on=['Stock'], how='outer')
CatchAbunProp2 = pd.merge(CatchAbunProp1, stocktiming_df, on =['Stock'], how = 'inner')

CatchAbunProp2 = CatchAbunProp2.drop(columns=['spawner_seasonality','nonspawners_inSS','juve_behav', 'Cons Units', 'Name'])
CatchAbunProp2[CatchAbunProp2['Stock']=='FCF']

# calculate seasonal numbers inside SS
# using Shelton et al (2019) for fall fish: 
#  Cohort * seasonal proportion
# using run timing minus two weeks method for summer and spring fish: 
#  SS_AbunEst * seasonal proportion

df = CatchAbunProp2

# estimate seasonal abundance of non-spawners
conditions = [(df['season'] == 'spring'),
              (df['season'] == 'summer'),
              (df['season'] == 'fall'),
              (df['season'] == 'winter')
             ]

choices = [df['nonspawners_inSS', 'spring'] * df['nonspawners'], 
           df['nonspawners_inSS', 'summer'] * df['nonspawners'],   
           df['nonspawners_inSS', 'fall'] * df['nonspawners'],   
           df['nonspawners_inSS', 'winter'] * df['nonspawners']
          ]

df['nonspawners_season'] = np.select(conditions, choices, default=0.0)

# estimate seasonal abundance of spawners
conditions = [(df['season'] == 'spring'),
              (df['season'] == 'summer'),
              (df['season'] == 'fall'),
              (df['season'] == 'winter')
             ]

choices = [df['spawner_seasonality', 'spring'] * df['SS_spawners'], 
           df['spawner_seasonality', 'summer'] * df['SS_spawners'],   
           df['spawner_seasonality', 'fall'] * df['SS_spawners'],   
           df['spawner_seasonality', 'winter'] * df['SS_spawners']
          ]

df['spawners_season'] = np.select(conditions, choices, default=0.0)
df['SS_seasonal_est'] = (df['spawners_season'].round(1) + df['nonspawners_season'].round(1))
df['SS_seasonal_est'] = df['SS_seasonal_est'].round(1)

df.loc[df['SS_seasonal_est'] <= -0.1]

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\reshape\merge.py:617: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

,Year,StockNum,Stock,Age,Cohort,Escapement,TotalCatchEst_in,TotalCatchEst_out,SS_spawners,M,...,"(spawner_seasonality, fall)","(spawner_seasonality, spring)","(spawner_seasonality, summer)","(spawner_seasonality, winter)",area,runtype,season,nonspawners_season,spawners_season,SS_seasonal_est
330,2019,7,FS2,3,5789,2593.92,7030.115,2094.094,10219.153,0.36,...,0.00,0.50,0.5,0.0,fraser,spring,fall,-221.508,0.0,-221.5
331,2019,7,FS2,3,5789,2593.92,7030.115,2094.094,10219.153,0.36,...,0.00,0.50,0.5,0.0,fraser,spring,winter,-221.508,0.0,-221.5
498,2019,7,FS2,4,354,126.95,500.038,117.643,650.404,0.22,...,0.00,0.50,0.5,0.0,fraser,spring,fall,-14.820,0.0,-14.8
499,2019,7,FS2,4,354,126.95,500.038,117.643,650.404,0.22,...,0.00,0.50,0.5,0.0,fraser,spring,winter,-14.820,0.0,-14.8
1170,2019,8,FS3,4,10871,6008.21,18054.392,1068.502,24961.272,0.22,...,0.00,0.50,0.5,0.0,fraser,spring,fall,-704.514,0.0,-704.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10072,2019,25,STL,5,23,16.68,30.591,7.207,48.065,0.10,...,0.70,0.00,0.3,0.0,PS,fall,spring,-7.520,0.0,-7.5
10075,2019,25,STL,5,23,16.68,30.591,7.207,48.065,0.10,...,0.70,0.00,0.3,0.0,PS,fall,winter,-8.773,0.0,-8.8
10411,2019,26,SNO,3,5996,791.71,5692.353,5571.536,6885.015,0.36,...,0.25,0.25,0.5,0.0,PS,summer,winter,-44.451,0.0,-44.5
10579,2019,26,SNO,4,2800,1785.44,4839.791,797.524,6872.665,0.22,...,0.25,0.25,0.5,0.0,PS,summer,winter,-203.633,0.0,-203.6
10747,2019,26,SNO,5,91,74.23,56.989,13.514,133.425,0.10,...,0.25,0.25,0.5,0.0,PS,summer,winter,-2.121,0.0,-2.1

In [52]:
df[['nonspawners_season','Year']].groupby(["Year"]).sum()

      nonspawners_season
Year
1979           5.192e+06
1980           5.277e+06
1981           5.013e+06
1982           5.434e+06
1983           6.333e+06
1984           6.167e+06
1985           4.746e+06
1986           4.002e+06
1987           3.579e+06
1988           5.505e+06
1989           4.432e+06
1990           4.487e+06
1991           4.073e+06
1992           3.683e+06
1993           2.652e+06
1994           2.665e+06
1995           2.607e+06
1996           3.990e+06
1997           3.157e+06
1998           3.537e+06
1999           3.391e+06
2000           4.087e+06
2001           4.679e+06
2002           4.372e+06
2003           3.834e+06
2004           3.623e+06
2005           4.070e+06
2006           3.283e+06
2007           3.447e+06
2008           2.792e+06
2009           3.989e+06
2010           3.455e+06
2011           3.019e+06
2012           2.817e+06
2013           3.302e+06
2014           3.045e+06
2015           3.138e+06
2016           3.623e+06
2017           3.708e+06
2018           3.871e+06
2019          -1.145e+06
2020           3.266e+06

## 5) Length and weight calculations
 <a class="anchor" id="section-5"></a>
[BACK TO TOP](#top)

In [10]:
# VBGF length-at-age function params for Fraser River
#  -- taken from table for Fraser river fish provided by Chuck Parken (avgs used for Chilliwack, harrison)
#  -- lengths in mm
#  -- standard deviations available but not used
#  -- lower or middle Georgia (LGS, MGS) stocks assumed to have average VBGF properties
VBGF_df = []
VBGF_df = pd.DataFrame()

# define stocks
VBGF_df['ModelStock'] = ["FS2", "FS3", "FSS", "FSO", "FCF", "FHF"]
VBGF_df['Linf']       = [981.8, 998.4, 1014.2, 906.3, 982.7, 1030.3]
VBGF_df['K']          = [0.427, 0.96,  0.52,   0.899, 0.864, 0.767]
VBGF_df['t0']         = [1.09,  1.48,  1.12,   1.25,   1.11, 1.04]

# L_t = L_inf(1 - e^K(t - t_0)) 
# where 
# L_t is length at time t
# L_inf is length at infinity
# K is a param year-1
# t_0 ... unsure but youngest year class? intercept? 
# Create new row
mean_Linf = VBGF_df[['Linf']].mean()[0]
mean_K    = VBGF_df[['K']].mean()[0]
mean_t0   = VBGF_df[['t0']].mean()[0]

avgs_LGS = [{"ModelStock":"LGS", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_MGS = [{"ModelStock":"MGS", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_NKF = [{"ModelStock":"NKF", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_PSF = [{"ModelStock":"PSF", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_PSN = [{"ModelStock":"PSN", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_PSY = [{"ModelStock":"PSY", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_NKS = [{"ModelStock":"NKS", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_SKG = [{"ModelStock":"SKG", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_STL = [{"ModelStock":"STL", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]
avgs_SNO = [{"ModelStock":"SNO", "Linf":mean_Linf, "K":mean_K, "t0":mean_t0}]

# Insert rows 
VBGF_df = VBGF_df.append(avgs_LGS, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_MGS, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_NKF, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_PSF, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_PSN, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_PSY, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_NKS, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_SKG, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_STL, ignore_index=True)
VBGF_df = VBGF_df.append(avgs_SNO, ignore_index=True)

VBGF_df["Stock"] = VBGF_df["ModelStock"]
VBGF_df["e"] = math.exp(1)

df2 = pd.merge(df, VBGF_df, on=['Stock'], how='left')
#L_t = L_inf(1 - e^K(t - t_0)) 
df2["FL"] = df2["Linf"]*(1 - (np.power(df2["e"], (df2["K"]*-1)*(df2["Age"] - df2["t0"]))))
# Fork length to total length ratio from FishBase
# https://www.fishbase.de/popdyn/LLRelationshipList.php?ID=244&GenusName=Oncorhynchus&SpeciesName=tshawytscha&fc=76)
FL_to_TL = 1.034
df2["TL"] = df2["FL"] * FL_to_TL

# Mass estimated from Jones, Petrell, & Pauly (1999, p. 268, Tab. 3)
# M = B*L^2*H
# where M is mass (kg), B is a regression param, H is fish 'height' (m), L is total length (m)
H_L_ratio = 0.24 # H = L * 0.24
B = 62
df2["mass_kg"] = (B * np.power((df2["TL"] * 0.001), 2) * ((df2["TL"] * 0.001) * H_L_ratio))

# Alternative equation for length-weight conversion from Schneider et al (2000, Tab 17.1) 
# (for Atlantic Salmon used by Fanny)
#  logW=-5.113913 + (3.113913*log10(length))
df2["mass_kg2"] = np.power(10,-5.3134 + (3.113913*np.log10(df2["TL"]))) * 0.001
#df2["mass_kg2"] = -5.3134 + (3.113913*np.log10(df2["FL"]*0.001)

df = df2

df2[["Age","TL","mass_kg","mass_kg2"]]

       Age       TL  mass_kg  mass_kg2
0        2  326.862    0.520     0.328
1        2  326.862    0.520     0.328
2        2  326.862    0.520     0.328
3        2  326.862    0.520     0.328
4        2  326.862    0.520     0.328
...    ...      ...      ...       ...
10747    5  958.603   13.107     9.358
10748    5  958.603   13.107     9.358
10749    5  958.603   13.107     9.358
10750    5  958.603   13.107     9.358
10751    5  958.603   13.107     9.358

[10752 rows x 4 columns]

## 6a) Summarize and export for the SRKW model
 <a class="anchor" id="section-6a"></a>
[BACK TO TOP](#top)

In [11]:
# get only some columns and pivot
df['SS_seasonal_est'] = df['SS_seasonal_est'].astype(str).astype(float)

PSC2_df = df[['Stock','Age','Cohort','Year','SS_seasonal_est', 'season']]
final_piv = pd.pivot_table(PSC2_df, values = 'SS_seasonal_est', index=['Stock','Year','season'], columns = 'Age').reset_index()

final_piv2 = pd.merge(final_piv, stocks_df, on =['Stock'], how = 'inner')
final_piv2.to_csv (r'final_SS_Cohort.csv', index = True, header=True)

final_piv2

,Stock,Year,season,2,3,4,5,Name,Cons Units,area,runtype,juve_behav
0,FCF,1979,fall,5892.6,3458.6,994.6,73.6,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
1,FCF,1979,spring,3857.9,1130.4,151.3,-0.9,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
2,FCF,1979,summer,4493.7,2059.0,503.5,31.1,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
3,FCF,1979,winter,4409.0,1291.8,172.9,-1.0,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
4,FCF,1980,fall,5899.4,3481.2,984.0,73.3,Chilliwack Fall Hatchery,CK-9008/ CK-03,fraser,fall,ocean
...,...,...,...,...,...,...,...,...,...,...,...,...
2683,STL,2019,winter,560.9,-277.4,-622.2,-8.8,Stillaguamish Wild,na,PS,fall,ocean
2684,STL,2020,fall,1067.7,906.6,235.8,7.7,Stillaguamish Wild,na,PS,fall,ocean
2685,STL,2020,spring,870.4,500.3,33.1,0.6,Stillaguamish Wild,na,PS,fall,ocean
2686,STL,2020,summer,747.7,555.3,112.1,3.5,Stillaguamish Wild,na,PS,fall,ocean
2687,STL,2020,winter,1015.4,583.6,38.6,0.7,Stillaguamish Wild,na,PS,fall,ocean

## 6b) Summarize and export for my EwE model
 <a class="anchor" id="section-6b"></a>
[BACK TO TOP](#top)

In [29]:
# summarize catch, escapement, and estimate of stock biomass at beginning of year
outpath = "C://Users//Greig//Sync//6. SSMSP Model//Model Greig//Data//1. Salmon/"
study_area = 11200 #km^2

# biomass (mt) from seasonal
df3 = df
df3["Chinook_B_mt_SS"] = (df3["SS_seasonal_est"] * df3["mass_kg"] * 0.001).round(1)
df3["Chinook_B_dens_mt_SS"] = (df3["Chinook_B_mt_SS"] / study_area).round(2)
df3 = df3[['Year','season','Stock','SS_seasonal_est','Chinook_B_mt_SS','Chinook_B_dens_mt_SS']]
df4 = df3.groupby(['Year','season']).sum().reset_index()

# rename cols prior to averaging
df5 = df4
df5["Chin_B_dens_mt_SS_avg"] = df5["Chinook_B_dens_mt_SS"]
df5["Chin_B_mt_SS_avg"] = df5["Chinook_B_mt_SS"]
df5["Chin_N_SS_avg"] = df5["SS_seasonal_est"]
df6 = df5.groupby(['Year']).mean().reset_index()
df6 = df6[["Year","Chin_N_SS_avg","Chin_B_dens_mt_SS_avg","Chin_B_mt_SS_avg"]]


# catch (mt)
# total catch estimate from fisheries inside and outside Salish Sea
# repeating the calculations here but on the annual catch rather than seasonal b
# to do fix code to streamline - should not repeat
VBGF_df["Stock"] = VBGF_df["ModelStock"]

CatchAbun_df = pd.merge(CatchAbund_df2,VBGF_df, on=['Stock'], how='left')
CatchAbun_df["FL"] = CatchAbun_df["Linf"]*(1 - (np.power(CatchAbun_df["e"], (CatchAbun_df["K"]*-1)*(CatchAbun_df["Age"] - CatchAbun_df["t0"]))))

# See above for FL:TL and L-W info
CatchAbun_df["TL"] = CatchAbun_df["FL"] * FL_to_TL
CatchAbun_df["mass_kg"] = (B * np.power((CatchAbun_df["TL"] * 0.001), 2) * ((CatchAbun_df["TL"] * 0.001) * H_L_ratio))
CatchAbun_df["catch_kg_in"] = CatchAbun_df["mass_kg"] * CatchAbun_df["TotalCatchEst_in"]
CatchAbun_df["catch_kg_out"] = CatchAbun_df["mass_kg"] * CatchAbun_df["TotalCatchEst_out"]
CatchAbun_df["Chin_catch_B_mt_in_PSC"] = (CatchAbun_df["catch_kg_in"] * 0.001).round(1)
CatchAbun_df["Chin_catch_B_mt_out_PSC"] = (CatchAbun_df["catch_kg_out"] * 0.001).round(1)
CatchAbun_df["Chinook_B_mt_Total_PSC"] = ((CatchAbun_df["mass_kg"] * CatchAbun_df["Cohort"]) * 0.001).round(2)

# escapement for SS stocks
CatchAbun_df["mass_esc_kg"] = CatchAbun_df["mass_kg"] * CatchAbun_df["Escapement"]
CatchAbun_df["Chin_B_Escpmnt_mt_PSC"] = (CatchAbun_df["mass_esc_kg"] * 0.001).round(1)
CatchAbun_df["Chin_N_Escpmnt_SS"] = CatchAbun_df["Escapement"]

# estimate escapement # for just IFR, LFR, SoG, to compare to CW's estimates
# stocks_SG_df['Stock'] = ["FS2","FS3","FSO","FSS","FHF","FCF","MGS","LGS"]
# stock long names (Brown et al., 2019, table 2 / 5)
# stocks_SG_df['Name'] = ["Fraser Spring 1.2","Fraser Spring 1.3","Fraser Summer Ocean-type 0.3",
#                      "Fraser Summer Stream-type 1.3","Harrison Fall","Chilliwack Fall Hatchery",
#                      "Middle Georgia Strait Fall (Nanaimo / Chemainus)","Lower Georgia Strait (Cowichan)"]

CatchAbun_df['Chin_escpmnt_N_SG-Fr_PSC'] = CatchAbun_df.loc[(CatchAbun_df['Stock'] == "FS2") | 
                                                    (CatchAbun_df['Stock'] == "FS3") |
                                                    (CatchAbun_df['Stock'] == "FSO") |
                                                    (CatchAbun_df['Stock'] == "FSS") |
                                                    (CatchAbun_df['Stock'] == "FHF") |
                                                    (CatchAbun_df['Stock'] == "FCF") |
                                                    (CatchAbun_df['Stock'] == "MGS") |
                                                    (CatchAbun_df['Stock'] == "LGS"),["Escapement"]].sum(axis=1)
# rename cols and select
CatchAbun_df['Chinook_N_Total_PSC'] = CatchAbun_df['Cohort']
CatchAbun_df["Chin_Catch_N_outside_PSC"] = CatchAbun_df["TotalCatchEst_out"]
CatchAbun_df["Chin_Catch_N_inSS_PSC"] = CatchAbun_df["TotalCatchEst_in"]
CatchAbun_df2 = CatchAbun_df[['Year','Stock',
                              'Chin_catch_B_mt_in_PSC','Chin_catch_B_mt_out_PSC',
                              'Chin_Catch_N_outside_PSC', 'Chin_Catch_N_inSS_PSC',
                              'Chinook_B_mt_Total_PSC','Chinook_N_Total_PSC',
                              'Chin_escpmnt_N_SG-Fr_PSC','Chin_N_Escpmnt_SS','Chin_B_Escpmnt_mt_PSC'
                             ]]
CatchAbun_df3 = CatchAbun_df2.groupby(['Year']).sum().reset_index()

final_df = pd.merge(df6,CatchAbun_df3, on=['Year'])
final_df["Chin_F_PSC"] = (np.abs(np.log((final_df["Chin_catch_B_mt_in_PSC"] + final_df["Chin_catch_B_mt_out_PSC"]) / final_df["Chinook_B_mt_Total_PSC"]))).round(2)
final_df["Chin_Bdens_total_PSC"] = (final_df["Chinook_B_mt_Total_PSC"] / study_area).round(2)
final_df.to_csv (outpath + r'Chinook_PSC_1979to2018.csv', index = True, header=True)

In [45]:
df5.groupby(['Year']).sum()

,SS_seasonal_est,Chinook_B_mt_SS,Chinook_B_dens_mt_SS,Chin_B_dens_mt_SS_avg,Chin_B_mt_SS_avg,Chin_N_SS_avg
Year,,,,,,
1979,6.917e+06,31635.9,2.71,2.71,31635.9,6.917e+06
1980,6.890e+06,30520.0,2.64,2.64,30520.0,6.890e+06
1981,6.370e+06,29579.8,2.57,2.57,29579.8,6.370e+06
1982,6.617e+06,28852.9,2.53,2.53,28852.9,6.617e+06
1983,7.653e+06,31107.6,2.68,2.68,31107.6,7.653e+06
1984,7.653e+06,34288.2,2.95,2.95,34288.2,7.653e+06
1985,5.975e+06,31438.0,2.77,2.77,31438.0,5.975e+06
1986,5.164e+06,26463.7,2.20,2.20,26463.7,5.164e+06
1987,4.432e+06,21328.4,1.82,1.82,21328.4,4.432e+06
1988,6.387e+06,24638.4,2.08,2.08,24638.4,6.387e+06
1989,5.428e+06,28411.0,2.45,2.45,28411.0,5.428e+06
1990,5.541e+06,27671.3,2.38,2.38,27671.3,5.541e+06
1991,4.919e+06,24617.0,2.07,2.07,24617.0,4.919e+06
1992,4.600e+06,23702.1,2.03,2.03,23702.1,4.600e+06
1993,3.437e+06,18757.0,1.51,1.51,18757.0,3.437e+06
1994,3.366e+06,15393.1,1.22,1.22,15393.1,3.366e+06
1995,3.280e+06,14836.4,1.15,1.15,14836.4,3.280e+06
1996,4.770e+06,19138.4,1.56,1.56,19138.4,4.770e+06
1997,3.959e+06,22117.2,1.90,1.90,22117.2,3.959e+06
1998,4.383e+06,21272.7,1.75,1.75,21272.7,4.383e+06
1999,4.143e+06,20301.6,1.68,1.68,20301.6,4.143e+06
2000,4.799e+06,21689.2,1.78,1.78,21689.2,4.799e+06
2001,5.584e+06,26063.0,2.15,2.15,26063.0,5.584e+06
2002,5.289e+06,28094.0,2.33,2.33,28094.0,5.289e+06
2003,4.842e+06,26633.4,2.26,2.26,26633.4,4.842e+06
2004,4.506e+06,22711.6,1.93,1.93,22711.6,4.506e+06
2005,4.857e+06,21945.2,1.83,1.83,21945.2,4.857e+06
2006,4.110e+06,21850.4,1.80,1.80,21850.4,4.110e+06
2007,4.277e+06,20084.1,1.67,1.67,20084.1,4.277e+06
2008,3.471e+06,17837.8,1.44,1.44,17837.8,3.471e+06
2009,4.799e+06,20205.5,1.68,1.68,20205.5,4.799e+06
2010,4.286e+06,21899.5,1.75,1.75,21899.5,4.286e+06
2011,3.814e+06,19458.9,1.60,1.60,19458.9,3.814e+06
2012,3.470e+06,16852.1,1.39,1.39,16852.1,3.470e+06
2013,4.103e+06,18326.5,1.52,1.52,18326.5,4.103e+06
2014,3.731e+06,18545.7,1.46,1.46,18545.7,3.731e+06
2015,3.978e+06,18802.7,1.57,1.57,18802.7,3.978e+06
2016,4.338e+06,18296.8,1.49,1.49,18296.8,4.338e+06
2017,4.505e+06,20311.4,1.65,1.65,20311.4,4.505e+06
2018,4.691e+06,20874.5,1.77,1.77,20874.5,4.691e+06
2019,3.528e+06,14744.7,1.21,1.21,14744.7,3.528e+06
2020,4.053e+06,18831.8,1.56,1.56,18831.8,4.053e+06

In [38]:
Catch_out_df_grp2.groupby(["Year"]).sum()

      Age  TotalCatchEst_out
Year
1979  238          5.482e+05
1980  238          5.064e+05
1981  238          4.247e+05
1982  238          5.079e+05
1983  238          3.884e+05
1984  238          4.011e+05
1985  238          3.463e+05
1986  238          3.160e+05
1987  238          2.666e+05
1988  238          2.936e+05
1989  238          3.116e+05
1990  238          3.692e+05
1991  238          2.714e+05
1992  238          2.732e+05
1993  238          2.232e+05
1994  238          1.583e+05
1995  238          1.164e+05
1996  238          5.884e+04
1997  238          1.555e+05
1998  238          1.178e+05
1999  238          1.191e+05
2000  238          1.360e+05
2001  238          1.346e+05
2002  238          1.990e+05
2003  238          2.070e+05
2004  238          2.288e+05
2005  238          2.603e+05
2006  238          2.872e+05
2007  238          2.369e+05
2008  238          1.649e+05
2009  238          1.642e+05
2010  238          2.007e+05
2011  238          1.858e+05
2012  238          1.262e+05
2013  238          1.011e+05
2014  238          1.600e+05
2015  238          1.491e+05
2016  238          1.572e+05
2017  238          1.554e+05
2018  238          1.241e+05
2019  238          1.874e+06
2020  238          1.713e+05

In [46]:
df5

,Year,season,SS_seasonal_est,Chinook_B_mt_SS,Chinook_B_dens_mt_SS,Chin_B_dens_mt_SS_avg,Chin_B_mt_SS_avg,Chin_N_SS_avg
0,1979,fall,2.524e+06,13239.2,1.17,1.17,13239.2,2.524e+06
1,1979,spring,1.293e+06,4995.0,0.39,0.39,4995.0,1.293e+06
2,1979,summer,1.686e+06,8223.5,0.70,0.70,8223.5,1.686e+06
3,1979,winter,1.414e+06,5178.2,0.45,0.45,5178.2,1.414e+06
4,1980,fall,2.487e+06,12701.3,1.13,1.13,12701.3,2.487e+06
...,...,...,...,...,...,...,...,...
163,2019,winter,-3.126e+05,-5814.8,-0.54,-0.54,-5814.8,-3.126e+05
164,2020,fall,1.341e+06,7164.1,0.64,0.64,7164.1,1.341e+06
165,2020,spring,8.413e+05,3404.6,0.25,0.25,3404.6,8.413e+05
166,2020,summer,9.785e+05,4885.5,0.40,0.40,4885.5,9.785e+05
167,2020,winter,8.919e+05,3377.6,0.27,0.27,3377.6,8.919e+05

### OLD CODE

In [14]:
# get only some columns and pivot
PSC2_df = PSC_df[['stock_desc','Stock','Age','Cohort','Year']]
pivPSC = pd.pivot_table(PSC2_df, values = 'Cohort', index=['Stock','stock_desc','Year'], columns = 'Age').reset_index()
pivPSC[:10]

Age Stock                stock_desc  Year         2         3        4       5
0     FCF  Chilliwack Fall Hatchery  1979   13142.0    6325.0   1606.0   104.0
1     FCF  Chilliwack Fall Hatchery  1980   13059.0    6284.0   1563.0   102.0
2     FCF  Chilliwack Fall Hatchery  1981   20058.0    6259.0   1562.0   100.0
3     FCF  Chilliwack Fall Hatchery  1982   11519.0    9633.0   1556.0   100.0
4     FCF  Chilliwack Fall Hatchery  1983   43599.0    5538.0   2389.0    99.0
5     FCF  Chilliwack Fall Hatchery  1984   59601.0   20532.0    948.0    48.0
6     FCF  Chilliwack Fall Hatchery  1985  184987.0   30440.0   4135.0    18.0
7     FCF  Chilliwack Fall Hatchery  1986  204820.0   93906.0  11463.0   722.0
8     FCF  Chilliwack Fall Hatchery  1987    5557.0  103682.0  35959.0  1569.0
9     FCF  Chilliwack Fall Hatchery  1988   28958.0    2672.0  41604.0  2538.0

In [136]:
# export
pivPSC.to_csv (r'CTCPivoted.csv', index = True, header=True)

### (3) Get the length-at-age data from CWT / RMIS

In [323]:
CWT_df = pd.read_csv("CWTRecoveries_NewFields.csv")
# get only required fields
# note weight is usually empty
CWT_df = CWT_df[['PSC','PSC_desc','recovery_year','brood_year','recovery_age','rec_season','SalishSea','weight','length']]

# get only salish sea recoveries
CWTSS_df = CWT_df.loc[(CWT_df['SalishSea'] == 'in') & (pd.to_numeric(CWT_df['recovery_year']) >= 1979)
                     & (pd.to_numeric(CWT_df['recovery_age']) >= 2)]
CWTSS_df = CWTSS_df.sort_values(['PSC','recovery_year','rec_season'])

# pivot so ages become columns
pivCWT = pd.pivot_table(CWTSS_df, values = 'length', aggfunc=[np.mean, 'count'], index=['PSC','PSC_desc','recovery_year','rec_season'], columns = 'recovery_age').reset_index()

pd.set_option('precision', 0)
pivCWT = pivCWT.sort_values(['PSC','rec_season', 'recovery_year'])

# validate the results (check a year)
validate = CWTSS_df.loc[(CWTSS_df['PSC'] == 'FCF') & (pd.to_numeric(CWTSS_df['recovery_year']) == 1984)
                     & (pd.to_numeric(CWTSS_df['recovery_age']) == 2) & (CWTSS_df['rec_season'] == 'fall')]

# simplify hierarchical column names for join later
pivCWT['SS_mean_2'] = pivCWT['mean',2]
pivCWT['SS_mean_3'] = pivCWT['mean',3]
pivCWT['SS_mean_4'] = pivCWT['mean',4]
pivCWT['SS_mean_5'] = pivCWT['mean',5]
pivCWT['SS_mean_6'] = pivCWT['mean',6]

pivCWT['SS_count_2'] = pivCWT['count',2]
pivCWT['SS_count_3'] = pivCWT['count',3]
pivCWT['SS_count_4'] = pivCWT['count',4]
pivCWT['SS_count_5'] = pivCWT['count',5]
pivCWT['SS_count_6'] = pivCWT['count',6]

# remove redundant columns 
pivCWT_SS = pd.DataFrame
pivCWT_SS = pivCWT[['PSC', 'PSC_desc','recovery_year','rec_season','SS_mean_2','SS_mean_3','SS_mean_4','SS_mean_5','SS_mean_6',
                   'SS_count_2','SS_count_3','SS_count_4','SS_count_5','SS_count_6']]

# export
pivCWT_SS.to_csv (r'CWTRecovSS_Lengths.csv', index = True, header=True)

#### (3.1) Group length-at-age differently if few recovs

In [324]:
# sample size is very low often for length-at-age
# select records including OUTSIDE salish sea to use when sample size is <20
CWTALL_df = CWT_df.loc[(pd.to_numeric(CWT_df['recovery_year']) >= 1979)
                     & (pd.to_numeric(CWT_df['recovery_age']) >= 2)]
CWTALL_df = CWTALL_df.sort_values(['PSC','recovery_year','rec_season'])
pivCWT_AllAreas = pd.pivot_table(CWTALL_df, values = 'length', aggfunc=[np.mean, 'count'], index=['PSC','PSC_desc','recovery_year','rec_season'], columns = 'recovery_age').reset_index()
pivCWT_AllAreas = pivCWT_AllAreas.sort_values(['PSC','rec_season', 'recovery_year'])
pivCWT_AllAreas[:10]

              PSC                  PSC_desc recovery_year rec_season mean  \
recovery_age                                                            2
0             FCF  Chilliwack Fall Hatchery  1983          fall       472
4             FCF  Chilliwack Fall Hatchery  1984          fall       423
8             FCF  Chilliwack Fall Hatchery  1985          fall       428
12            FCF  Chilliwack Fall Hatchery  1986          fall       452
16            FCF  Chilliwack Fall Hatchery  1987          fall       463
20            FCF  Chilliwack Fall Hatchery  1988          fall       455
24            FCF  Chilliwack Fall Hatchery  1989          fall       397
28            FCF  Chilliwack Fall Hatchery  1990          fall       403
32            FCF  Chilliwack Fall Hatchery  1991          fall       461
36            FCF  Chilliwack Fall Hatchery  1992          fall       426

                                 count
recovery_age    3    4     5   6     2    3   4   5   6
0            NaN  NaN  NaN   NaN  169  NaN  NaN NaN NaN
4             657 NaN  NaN   NaN  25    173 NaN NaN NaN
8             605  792 NaN   NaN  30    37   68 NaN NaN
12            591  805  909  NaN  60    47   15  11 NaN
16            633  869  820  NaN  7     92   20  1  NaN
20            583  885  935  NaN  30    14   43  1  NaN
24            691  883  1000 NaN  11    26   3   4  NaN
28            592  886 NaN   NaN  59    14   8  NaN NaN
32            637  834 NaN   NaN  39    74   6  NaN NaN
36            683  835  655  NaN  17    83   38  1  NaN

In [325]:
# simplify hierarchical column names for join later
pivCWT_AllAreas['alla_mean_2'] = pivCWT_AllAreas['mean',2]
pivCWT_AllAreas['alla_mean_3'] = pivCWT_AllAreas['mean',3]
pivCWT_AllAreas['alla_mean_4'] = pivCWT_AllAreas['mean',4]
pivCWT_AllAreas['alla_mean_5'] = pivCWT_AllAreas['mean',5]
pivCWT_AllAreas['alla_mean_6'] = pivCWT_AllAreas['mean',6]

pivCWT_AllAreas['alla_count_2'] = pivCWT_AllAreas['count',2]
pivCWT_AllAreas['alla_count_3'] = pivCWT_AllAreas['count',3]
pivCWT_AllAreas['alla_count_4'] = pivCWT_AllAreas['count',4]
pivCWT_AllAreas['alla_count_5'] = pivCWT_AllAreas['count',5]
pivCWT_AllAreas['alla_count_6'] = pivCWT_AllAreas['count',6]

# trim redundant fields (could be done better)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['mean',2]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['mean',3]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['mean',4]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['mean',5]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['mean',6]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['count',2]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['count',3]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['count',4]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['count',5]], axis=1)
pivCWT_AllAreas = pivCWT_AllAreas.drop([['count',6]], axis=1)

# get rid of empty hierarchy (messes up join later)
pivCWT_AllAreas.columns = pivCWT_AllAreas.columns.droplevel('recovery_age')
pivCWT_SS.columns = pivCWT_SS.columns.droplevel('recovery_age')

In [326]:
# get mean length-at-age by stock and season taken from all years
pivCWT_AllYears = pd.pivot_table(CWTALL_df, values = 'length', aggfunc=[np.mean, 'count'], index=['PSC','PSC_desc','rec_season'], columns = 'recovery_age').reset_index()
pivCWT_AllYears = pivCWT_AllYears.sort_values(['PSC','rec_season'])


# simplify hierarchical column names for join later
pivCWT_AllYears['ally_mean_2'] = pivCWT_AllYears['mean',2]
pivCWT_AllYears['ally_mean_3'] = pivCWT_AllYears['mean',3]
pivCWT_AllYears['ally_mean_4'] = pivCWT_AllYears['mean',4]
pivCWT_AllYears['ally_mean_5'] = pivCWT_AllYears['mean',5]
pivCWT_AllYears['ally_mean_6'] = pivCWT_AllYears['mean',6]

pivCWT_AllYears['ally_count_2'] = pivCWT_AllYears['count',2]
pivCWT_AllYears['ally_count_3'] = pivCWT_AllYears['count',3]
pivCWT_AllYears['ally_count_4'] = pivCWT_AllYears['count',4]
pivCWT_AllYears['ally_count_5'] = pivCWT_AllYears['count',5]
pivCWT_AllYears['ally_count_6'] = pivCWT_AllYears['count',6]

# trim redundant fields (could be done better)
pivCWT_AllYears = pivCWT_AllYears.drop([['mean',2]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['mean',3]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['mean',4]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['mean',5]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['mean',6]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['count',2]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['count',3]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['count',4]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['count',5]], axis=1)
pivCWT_AllYears = pivCWT_AllYears.drop([['count',6]], axis=1)

# drop empty hierarchical column
pivCWT_AllYears.columns = pivCWT_AllYears.columns.droplevel('recovery_age')

pivCWT_AllYears[:5]

,PSC,PSC_desc,rec_season,ally_mean_2,ally_mean_3,ally_mean_4,ally_mean_5,ally_mean_6,ally_count_2,ally_count_3,ally_count_4,ally_count_5,ally_count_6
0,FCF,Chilliwack Fall Hatchery,fall,468,691,853,921,NaN,646,1858,599,34,NaN
1,FCF,Chilliwack Fall Hatchery,spring,69,649,784,869,NaN,2,986,708,26,NaN
2,FCF,Chilliwack Fall Hatchery,summer,454,669,810,862,NaN,134,3074,1171,38,
3,FCF,Chilliwack Fall Hatchery,winter,482,536,681,630,NaN,120,277,68,1,NaN
4,FHF,Harrison Fall,fall,463,653,821,858,NaN,335,795,300,12,NaN

### (4) merge abundance and stock distrbution estimates

In [ ]:
# merge the CWT data and the abundance data

In [148]:
# Merge abundance and stock dist
pd.set_option('precision', 2)
AS_df = pd.merge(pivPSC, stocktiming_df, on='Stock', how='inner')
AS_df[:10]

,Stock,stock_desc,Year,2,3,4,5,area,runtype,season,proportion
0,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,spring,0.35
1,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,summer,0.35
2,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,fall,0.40
3,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,spring,0.35
4,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,summer,0.35
5,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,fall,0.40
6,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,spring,0.35
7,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,summer,0.35
8,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,fall,0.40
9,FCF,Chilliwack Fall Hatchery,1982,11519.0,9633.0,1556.0,100.0,fraser,fall,spring,0.35

In [149]:
# create columns for abundance weighted by proportion in SS 
AS_df['2_w'] = (AS_df[2] * AS_df['proportion'])
AS_df['3_w'] = (AS_df[3] * AS_df['proportion'])
AS_df['4_w'] = (AS_df[4] * AS_df['proportion'])
AS_df['5_w'] = (AS_df[5] * AS_df['proportion'])

# to do joins the column names have to match
AS_df['PSC'] = AS_df['Stock']
AS_df['recovery_year'] = AS_df['Year']
AS_df['rec_season'] = AS_df['season']

AS_df[:10]

,Stock,stock_desc,Year,2,3,4,5,area,runtype,season,proportion,2_w,3_w,4_w,5_w,PSC,recovery_year,rec_season
0,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,spring,0.35,4599.70,2213.75,562.10,36.4,FCF,1979,spring
1,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,summer,0.35,4599.70,2213.75,562.10,36.4,FCF,1979,summer
2,FCF,Chilliwack Fall Hatchery,1979,13142.0,6325.0,1606.0,104.0,fraser,fall,fall,0.40,5256.80,2530.00,642.40,41.6,FCF,1979,fall
3,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,spring,0.35,4570.65,2199.40,547.05,35.7,FCF,1980,spring
4,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,summer,0.35,4570.65,2199.40,547.05,35.7,FCF,1980,summer
5,FCF,Chilliwack Fall Hatchery,1980,13059.0,6284.0,1563.0,102.0,fraser,fall,fall,0.40,5223.60,2513.60,625.20,40.8,FCF,1980,fall
6,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,spring,0.35,7020.30,2190.65,546.70,35.0,FCF,1981,spring
7,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,summer,0.35,7020.30,2190.65,546.70,35.0,FCF,1981,summer
8,FCF,Chilliwack Fall Hatchery,1981,20058.0,6259.0,1562.0,100.0,fraser,fall,fall,0.40,8023.20,2503.60,624.80,40.0,FCF,1981,fall
9,FCF,Chilliwack Fall Hatchery,1982,11519.0,9633.0,1556.0,100.0,fraser,fall,spring,0.35,4031.65,3371.55,544.60,35.0,FCF,1982,spring

### (5) Join the abundance, stock distr, and CWT recovery data

In [329]:
# join the above table to the length-at-age observations from CWT
# start with length-at-age from only salish sea recovs
pd.set_option('precision', 2)

ASL_df = pd.merge(AS_df, pivCWT_SS, on=['PSC','recovery_year','rec_season'], how='inner')
# join second data frame containing stats for all areas by stock, year, recovery season
ASL_df2 = pd.merge(ASL_df, pivCWT_AllAreas, on=['PSC','recovery_year','rec_season'], how='inner')
# join third data frame containing stats for all areas by stock, recovery season
ASL_df3 = pd.merge(ASL_df2, pivCWT_AllYears, on=['PSC','rec_season'], how='inner')
ASL_df3[0:10]

,Stock,stock_desc,Year,2,3,4,5,area,runtype,season,proportion,2_w,3_w,4_w,5_w,PSC,recovery_year,rec_season,PSC_desc_x,SS_mean_2,SS_mean_3,SS_mean_4,SS_mean_5,SS_mean_6,SS_count_2,SS_count_3,SS_count_4,SS_count_5,SS_count_6,PSC_desc_y,alla_mean_2,alla_mean_3,alla_mean_4,alla_mean_5,alla_mean_6,alla_count_2,alla_count_3,alla_count_4,alla_count_5,alla_count_6,PSC_desc,ally_mean_2,ally_mean_3,ally_mean_4,ally_mean_5,ally_mean_6,ally_count_2,ally_count_3,ally_count_4,ally_count_5,ally_count_6
0,FCF,Chilliwack Fall Hatchery,1983,43599.0,5538.0,2389.0,99.0,fraser,fall,spring,0.35,15259.65,1938.3,836.15,34.65,FCF,1983,spring,Chilliwack Fall Hatchery,68.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,68.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
1,FCF,Chilliwack Fall Hatchery,1984,59601.0,20532.0,948.0,48.0,fraser,fall,spring,0.35,20860.35,7186.2,331.80,16.80,FCF,1984,spring,Chilliwack Fall Hatchery,NaN,650.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,NaN,653.50,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
2,FCF,Chilliwack Fall Hatchery,1985,184987.0,30440.0,4135.0,18.0,fraser,fall,spring,0.35,64745.45,10654.0,1447.25,6.30,FCF,1985,spring,Chilliwack Fall Hatchery,NaN,585.00,676.67,NaN,NaN,NaN,2.0,3.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,632.67,741.10,NaN,NaN,NaN,6.0,40.0,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
3,FCF,Chilliwack Fall Hatchery,1986,204820.0,93906.0,11463.0,722.0,fraser,fall,spring,0.35,71687.00,32867.1,4012.05,252.70,FCF,1986,spring,Chilliwack Fall Hatchery,NaN,331.50,NaN,NaN,NaN,NaN,2.0,0.0,0.0,NaN,Chilliwack Fall Hatchery,NaN,499.50,NaN,NaN,NaN,NaN,4.0,0.0,0.0,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
4,FCF,Chilliwack Fall Hatchery,1987,5557.0,103682.0,35959.0,1569.0,fraser,fall,spring,0.35,1944.95,36288.7,12585.65,549.15,FCF,1987,spring,Chilliwack Fall Hatchery,NaN,640.00,760.00,NaN,NaN,NaN,2.0,2.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,630.00,755.00,NaN,NaN,NaN,3.0,4.0,0.0,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
5,FCF,Chilliwack Fall Hatchery,1988,28958.0,2672.0,41604.0,2538.0,fraser,fall,spring,0.35,10135.30,935.2,14561.40,888.30,FCF,1988,spring,Chilliwack Fall Hatchery,NaN,559.00,788.57,NaN,NaN,NaN,1.0,7.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,559.00,792.50,NaN,NaN,NaN,1.0,8.0,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
6,FCF,Chilliwack Fall Hatchery,1989,64664.0,14606.0,1028.0,1732.0,fraser,fall,spring,0.35,22632.40,5112.1,359.80,606.20,FCF,1989,spring,Chilliwack Fall Hatchery,NaN,600.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,NaN,683.33,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
7,FCF,Chilliwack Fall Hatchery,1990,377137.0,31260.0,4639.0,2.0,fraser,fall,spring,0.35,131997.95,10941.0,1623.65,0.70,FCF,1990,spring,Chilliwack Fall Hatchery,NaN,116.00,720.00,NaN,NaN,0.0,1.0,1.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,393.00,757.50,NaN,NaN,0.0,2.0,4.0,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
8,FCF,Chilliwack Fall Hatchery,1991,222230.0,198126.0,11390.0,190.0,fraser,fall,spring,0.35,77780.50,69344.1,3986.50,66.50,FCF,1991,spring,Chilliwack Fall Hatchery,70.0,595.55,790.00,NaN,NaN,1.0,22.0,4.0,NaN,NaN,Chilliwack Fall Hatchery,70.0,595.55,790.00,NaN,NaN,1.0,22.0,4.0,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN
9,FCF,Chilliwack Fall Hatchery,1992,73629.0,116212.0,86136.0,647.0,fraser,fall,spring,0.35,25770.15,40674.2,30147.60,226.45,FCF,1992,spring,Chilliwack Fall Hatchery,NaN,573.69,757.33,NaN,NaN,NaN,13.0,15.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,541.07,778.33,NaN,NaN,NaN,14.0,18.0,NaN,NaN,Chilliwack Fall Hatchery,69.0,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN

In [330]:
len(ASL_df3)

1076

### (6) Get Catch Data from PSC CTC Model

In [153]:
# CSV below was extracted from CTC spreadsheet from C. Parken
Catch_df = pd.read_csv("CTC_Catch.csv")
Catch_df.dtypes
#len(Catch_df)

Year                                   int64
FishNum                                int64
Fishery                                object
StockNum                               int64
Stock                                  object
Age                                    int64
Scaled to Observed Catch               object
Model Catch to Observed Catch Ratio    float64
Catch                                  float64
Shakers                                float64
CNR Legals                             float64
CNR Sublegals                          float64
AEQ Catch                              float64
AEQ Shakers                            float64
AEQ CNRLeg                             float64
AEQ CNRSubLeg                          float64
dtype: object

In [154]:
# only select records from Salish Sea, excluding terminal fisheries
#  (following 'FishNum' codes: 8,13,14,15,25,26,35,36,38,39)
#  (these are selected based on codes provided by C. Parken / CTC)
# get only salish sea recoveries
Catch_df = Catch_df.loc[(Catch_df['FishNum'] == 8) | (Catch_df['FishNum'] == 13) |
                       (Catch_df['FishNum'] == 14) | (Catch_df['FishNum'] == 15) |
                       (Catch_df['FishNum'] == 25) | (Catch_df['FishNum'] == 26) |
                       (Catch_df['FishNum'] == 35) | (Catch_df['FishNum'] == 36) |
                       (Catch_df['FishNum'] == 38) | (Catch_df['FishNum'] == 39)]
len(Catch_df)

30240

In [1]:
# pivot so age and fishery are columns
# get only some columns and pivot
Catch_df = Catch_df[['Year','FishNum','Stock','Age','Catch', 'Shakers']]
pivCatch = pd.pivot_table(Catch_df, values = ['Catch','Shakers'], index=['Stock','Year'], columns = ['Age','FishNum']).reset_index()

NameError: name 'Catch_df' is not defined

In [102]:
#pd.set_option('display.max_columns', None)  
#pivCatch[0:10]

In [156]:
# sum the catch from all fisheries for each age, stock and year
#  note that the indexing here seems odd; first number is index of start column, 
#  second number is the number of columns to include to the right of the start column (1 + index)
pivCatch['TotCatch_Age2'] = pivCatch.iloc[:,2:12].sum(1)
pivCatch['TotCatch_Age3'] = pivCatch.iloc[:,12:22].sum(1)
pivCatch['TotCatch_Age4'] = pivCatch.iloc[:,22:32].sum(1)
pivCatch['TotCatch_Age5'] = pivCatch.iloc[:,32:42].sum(1)
pivCatch['TotShakers_Age2'] = pivCatch.iloc[:,42:52].sum(1)
pivCatch['TotShakers_Age3'] = pivCatch.iloc[:,52:62].sum(1)
pivCatch['TotShakers_Age4'] = pivCatch.iloc[:,62:72].sum(1)
pivCatch['TotShakers_Age5'] = pivCatch.iloc[:,72:82].sum(1)
pivCatch['TotalCatch'] = pivCatch.iloc[:,2:42].sum(1)
pivCatch['TotalShakers'] = pivCatch.iloc[:,42:82].sum(1)

In [157]:
pivCatch[0:10]

        Stock  Year   Catch                                                   \
Age                       2
FishNum                   8       13       14       15      25     26     35
0         FCF  1979  72.73   442.86   123.41   187.66   40.17   5.54   9.38
1         FCF  1980  92.11   582.43   181.69   186.47   54.73   5.52   8.08
2         FCF  1981  109.81  790.54   205.53   286.42   92.59   8.50   11.15
3         FCF  1982  58.84   451.88   121.36   164.48   48.63   4.88   3.98
4         FCF  1983  118.16  1468.57  210.30   558.43   196.08  64.63  0.00
5         FCF  1984  101.22  2599.44  257.81   851.04   170.23  4.40   0.00
6         FCF  1985  186.12  2113.41  2206.93  2781.44  804.41  4.29   0.00
7         FCF  1986  371.62  2493.54  2519.06  2872.00  451.23  25.98  0.00
8         FCF  1987  10.97   16.38    77.74    72.60    11.00   0.67   0.00
9         FCF  1988  37.29   85.91    416.27   362.21   26.38   5.99   0.00

                                                                          \
Age                                   3
FishNum     36       38     39        8      13      14       15      25
0        64.40  312.58   1.60   1310.21  70.95   29.20   113.54   21.86
1        61.76  197.39   1.76   1658.78  93.29   43.00   112.80   29.77
2        57.03  327.64   2.25   1282.48  82.13   31.54   112.36   32.66
3        24.77  128.76   1.31   1841.60  125.80  49.91   172.92   45.98
4        0.00   707.13   4.44   624.54   62.09   13.13   89.17    28.15
5        0.00   1491.49  4.90   1450.93  298.10  43.68   368.54   66.30
6        0.00   3568.46  19.61  1274.42  115.76  178.61  575.36   149.63
7        0.00   3818.81  26.04  3736.30  380.53  568.01  1655.28  233.87
8        0.00   83.95    0.55   4484.79  101.74  713.32  1702.90  232.09
9        0.00   256.03   2.12   75.45    2.64    18.88   42.01    2.75

                                                                           \
Age                                                     4
FishNum     26      35       36       38      39        8     13       14
0        3.66   31.79   282.99   642.32   12.63   434.16   25.67  26.49
1        3.66   27.36   271.37   405.56   13.88   538.40   33.18  38.27
2        3.65   24.48   162.52   436.53   11.47   417.62   29.32  28.19
3        5.60   23.46   189.13   459.76   18.07   388.26   29.03  28.88
4        18.06  30.46   222.27   383.50   9.24    414.37   48.63  25.79
5        7.53   101.16  708.79   2193.69  27.63   102.98   23.17  8.52
6        1.40   111.79  788.01   2507.09  52.82   266.21   27.56  106.58
7        17.28  560.04  2343.51  7475.36  195.50  1307.94  84.87  317.43
8        12.76  439.17  1662.72  6687.97  167.23  4460.62  83.08  1459.59
9        1.38   10.50   58.84    111.85   3.55    3369.74  88.81  1593.34

                                                                             \
Age                                                                  5
FishNum   15      25       26      35      36       38      39       8   13
0        0.0  6.06    95.01    17.10   8.19    230.81   4.13    25.51   0.0
1        0.0  8.10    92.68    14.42   7.68    142.74   4.44    32.11   0.0
2        0.0  8.92    92.67    12.94   4.62    154.15   3.69    24.31   0.0
3        0.0  8.13    92.33    8.03    3.48    105.11   3.76    22.68   0.0
4        0.0  16.88   428.86   29.22   11.46   234.12   5.14    15.89   0.0
5        0.0  3.95    41.29    10.39   3.92    143.25   1.64    4.82    0.0
6        0.0  27.28   56.55    33.76   12.81   481.85   9.24    1.05    0.0
7        0.0  39.93   534.26   152.00  34.21   1291.19  30.73   79.37   0.0
8        0.0  145.09  529.31   338.65  68.97   3282.18  74.70   187.62  0.0
9        0.0  70.91   1573.36  363.46  109.60  5510.43  159.16  198.14  0.0

                                                           Shakers          \
Age                                                              2
FishNum      14   15    25     26     35   36      38   39       8      13
0        3.13    0.0  0.24  1.30   0.82   0.0  14.58   0.0  42.10   22.28
1        4.59    0.0  0.31  1.29   0.71   0.0  9.15    0.0  46.63   30.10
2        3.30    0.0  0.34  1.26   0.62   0.0  9.64    0.0  61.49   37.72
3        3.39    0.0  0.31  1.26   0.39   0.0  6.60    0.0  25.63   21.75
4        1.64    0.0  0.36  3.17   0.91   0.0  9.55    0.0  86.16   73.73
5        0.67    0.0  0.11  0.38   0.39   0.0  7.12    0.0  95.69   132.86
6        0.83    0.0  0.07  0.05   0.10   0.0  2.03    0.0  188.94  100.24
7        32.83   0.0  1.37  6.42   7.11   0.0  79.61   0.0  159.63  115.07
8        82.57   0.0  2.71  3.48   10.97  0.0  140.27  0.0  4.72    0.67
9        133.75  0.0  1.96  15.33  16.48  0.0  344.78  0.0  11.83   4.21

                                                                              \
Age                                                                        3
FishNum      14      15     25     26      35      36      38     39       8
0        28.80   30.81   5.12   4.46   26.27   94.63   34.69   1.77   23.43
1        39.41   42.30   5.79   3.04   23.03   94.76   21.35   1.76   29.46
2        44.07   43.47   8.18   4.87   31.41   91.37   34.01   2.09   22.89
3        21.28   25.71   3.75   2.67   10.42   41.47   10.85   1.18   32.51
4        41.40   124.61  20.52  14.01  126.31  317.91  60.48   4.29   14.49
5        53.47   228.06  17.81  3.48   167.49  322.60  131.05  4.58   36.40
6        412.46  516.64  62.95  11.36  364.67  705.34  302.18  17.05  32.75
7        246.27  449.57  24.39  20.17  587.87  695.58  301.35  20.31  140.63
8        7.29    5.86    0.63   2.29   8.98    10.41   6.56    0.45   173.45
9        48.16   102.89  1.82   5.61   44.56   91.28   65.42   32.08  2.47

                                                                               \
Age                                                                         4
FishNum    13     14     15    25     26     35      36      38     39      8
0        0.66  2.50   2.68   0.43  0.95   4.77   41.61   44.69   0.92   7.41
1        0.88  3.43   3.68   0.49  0.65   4.12   39.94   28.20   1.00   9.18
2        0.78  2.48   2.45   0.44  0.68   3.69   23.93   30.33   0.83   7.12
3        1.16  3.21   3.88   0.55  0.99   3.52   27.87   31.82   1.30   6.61
4        0.58  0.95   2.86   0.46  1.27   5.48   34.91   26.55   0.67   7.17
5        2.88  3.33   14.19  1.09  1.93   18.48  110.12  151.94  2.00   1.79
6        1.05  12.26  15.36  1.83  1.20   20.17  121.94  173.53  3.80   4.64
7        3.34  20.39  37.23  1.97  4.34   99.03  360.90  516.82  13.99  22.37
8        0.79  24.58  19.74  2.09  14.09  74.77  253.95  462.31  11.99  80.77
9        0.03  0.80   1.71   0.03  0.42   1.79   9.08    12.27   3.28   59.99

                                                                               \
Age                                                                   5
FishNum    13    14   15    25    26     35     36      38     39     8    13
0        0.00  0.11  0.0  0.01  0.07  2.49   1.22   15.95   0.29   0.45  0.00
1        0.00  0.14  0.0  0.01  0.05  2.11   1.16   9.86    0.31   0.55  0.00
2        0.00  0.11  0.0  0.02  0.05  1.88   0.70   10.66   0.25   0.43  0.00
3        0.00  0.12  0.0  0.01  0.05  1.17   0.53   7.26    0.26   0.40  0.00
4        0.04  0.09  0.0  0.03  0.09  4.26   1.72   16.16   0.36   0.27  0.00
5        0.00  0.03  0.0  0.00  0.03  1.52   0.59   9.89    0.12   0.08  0.00
6        0.03  0.52  0.0  0.04  0.15  4.92   1.90   33.27   0.65   0.02  0.00
7        0.09  1.40  0.0  0.07  0.40  22.15  5.10   89.13   2.14   1.32  0.04
8        0.10  7.39  0.0  0.18  1.75  49.32  10.25  226.56  5.21   3.29  0.03
9        0.09  6.42  0.0  0.09  1.43  52.94  16.36  390.63  17.95  3.44  0.03

                                                        TotCatch_Age2  \
Age
FishNum    14   15    25    26    35    36     38    39
0        0.01  0.0  0.01  0.04  0.11  0.00  1.01   0.00  1260.32
1        0.02  0.0  0.01  0.03  0.10  0.00  0.63   0.00  1371.95
2        0.01  0.0  0.02  0.03  0.09  0.00  0.67   0.00  1891.46
3        0.01  0.0  0.01  0.03  0.06  0.00  0.46   0.00  1008.89
4        0.00  0.0  0.02  0.03  0.14  0.02  0.65   0.00  3327.73
5        0.00  0.0  0.00  0.01  0.07  0.00  0.49   0.00  5480.53
6        0.00  0.0  0.00  0.01  0.01  0.00  0.14   0.00  11684.65
7        0.06  0.0  0.07  0.21  1.07  0.04  5.49   0.00  12578.30
8        0.19  0.0  0.11  0.51  1.63  0.04  9.68   0.00  273.86
9        0.25  0.0  0.08  0.61  2.45  0.12  24.08  0.19  1192.19

        TotCatch_Age3 TotCatch_Age4 TotCatch_Age5 TotShakers_Age2  \
Age
FishNum
0        2519.15       847.61        45.57         290.94
1        2659.46       879.92        48.15         308.17
2        2179.82       752.12        39.48         358.68
3        2932.23       667.01        34.63         164.71
4        1480.62       1214.48       31.51         869.43
5        5266.34       339.11        13.49         1157.09
6        5754.89       1021.85       4.12          2681.83
7        17165.66      3792.55       206.71        2620.21
8        16204.69      10442.19      427.64        47.85
9        327.85        12838.81      710.45        407.86

        TotShakers_Age3 TotShakers_Age4 TotShakers_Age5 TotalCatch  \
Age
FishNum
0        122.66          27.56           1.63            4672.65
1        111.86          22.81           1.34            4959.48
2        88.50           20.79           1.24            4862.88
3        106.82          16.01           0.97            4642.75
4        88.20           29.91           1.13            6054.33
5        342.37          13.98           0.65            11099.47
6        383.90          46.11           0.18            18465.51
7        1198.65         142.84          8.30            33743.22
8        1037.77         381.54          15.47           27348.38
9        31.88           545.90          31.25           15069.30

        TotalShakers
Age
FishNum
0        442.79
1        444.18
2        469.21
3        288.51
4        988.67
5        1514.09
6        3112.02
7        3969.99
8        1482.63
9        1016.90

In [158]:
pivCatch['TotCatchShake_Age2'] = pivCatch.loc[:,['TotCatch_Age2','TotShakers_Age2']].sum(1)
pivCatch['TotCatchShake_Age3'] = pivCatch.loc[:,['TotCatch_Age3','TotShakers_Age3']].sum(1)
pivCatch['TotCatchShake_Age4'] = pivCatch.loc[:,['TotCatch_Age4','TotShakers_Age4']].sum(1)
pivCatch['TotCatchShake_Age5'] = pivCatch.loc[:,['TotCatch_Age5','TotShakers_Age5']].sum(1)

In [159]:
pivCatch.iloc[:,[0,1,82,83,84,85,86,87,88,89,90,91,92,93,94,95]]

,Stock,Year,TotCatch_Age2,TotCatch_Age3,TotCatch_Age4,TotCatch_Age5,TotShakers_Age2,TotShakers_Age3,TotShakers_Age4,TotShakers_Age5,TotalCatch,TotalShakers,TotCatchShake_Age2,TotCatchShake_Age3,TotCatchShake_Age4,TotCatchShake_Age5
Age,,,,,,,,,,,,,,,,
FishNum,,,,,,,,,,,,,,,,
0,FCF,1979,1260.32,2519.15,847.61,45.57,290.94,122.66,27.56,1.63,4672.65,442.79,1551.26,2641.80,875.17,47.20
1,FCF,1980,1371.95,2659.46,879.92,48.15,308.17,111.86,22.81,1.34,4959.48,444.18,1680.12,2771.32,902.73,49.49
2,FCF,1981,1891.46,2179.82,752.12,39.48,358.68,88.50,20.79,1.24,4862.88,469.21,2250.15,2268.32,772.90,40.72
3,FCF,1982,1008.89,2932.23,667.01,34.63,164.71,106.82,16.01,0.97,4642.75,288.51,1173.60,3039.05,683.02,35.60
4,FCF,1983,3327.73,1480.62,1214.48,31.51,869.43,88.20,29.91,1.13,6054.33,988.67,4197.16,1568.82,1244.39,32.64
5,FCF,1984,5480.53,5266.34,339.11,13.49,1157.09,342.37,13.98,0.65,11099.47,1514.09,6637.62,5608.71,353.09,14.14
6,FCF,1985,11684.65,5754.89,1021.85,4.12,2681.83,383.90,46.11,0.18,18465.51,3112.02,14366.49,6138.78,1067.96,4.30
7,FCF,1986,12578.30,17165.66,3792.55,206.71,2620.21,1198.65,142.84,8.30,33743.22,3969.99,15198.51,18364.30,3935.40,215.01
8,FCF,1987,273.86,16204.69,10442.19,427.64,47.85,1037.77,381.54,15.47,27348.38,1482.63,321.72,17242.46,10823.73,443.11
9,FCF,1988,1192.19,327.85,12838.81,710.45,407.86,31.88,545.90,31.25,15069.30,1016.90,1600.06,359.73,13384.70,741.70
10,FCF,1989,2814.03,1705.94,272.94,419.49,892.14,181.36,13.82,22.15,5212.40,1109.46,3706.17,1887.30,286.76,441.64
11,FCF,1990,12085.04,3601.34,1123.61,0.36,5375.28,366.61,53.75,0.01,16810.34,5795.65,17460.31,3967.95,1177.36,0.37
12,FCF,1991,7306.51,22350.71,2995.69,46.83,2791.57,2255.46,149.73,2.38,32699.75,5199.15,10098.08,24606.18,3145.42,49.21
13,FCF,1992,2395.43,13854.79,22543.36,159.51,1012.59,1510.51,1142.47,7.97,38953.08,3673.54,3408.02,15365.30,23685.83,167.48
14,FCF,1993,2100.13,4466.18,13135.24,442.69,815.65,481.76,682.40,22.94,20144.24,2002.75,2915.78,4947.94,13817.65,465.63
15,FCF,1994,7569.99,3466.65,3194.00,14.20,2640.14,361.37,138.33,0.63,14244.84,3140.47,10210.13,3828.02,3332.32,14.84
16,FCF,1995,5061.89,7799.88,1779.51,57.09,2935.26,1099.05,109.64,3.65,14698.36,4147.59,7997.15,8898.93,1889.15,60.73
17,FCF,1996,10347.44,9949.21,4350.05,4.61,6683.49,1383.38,302.15,0.32,24651.32,8369.34,17030.94,11332.59,4652.19,4.94
18,FCF,1997,1534.68,17515.02,9026.89,0.00,669.78,2462.42,449.38,0.00,28076.58,3581.58,2204.46,19977.44,9476.26,0.00
19,FCF,1998,4688.39,1149.16,4895.89,98.27,3048.42,170.35,315.78,6.62,10831.71,3541.18,7736.82,1319.51,5211.67,104.89
20,FCF,1999,2593.02,12421.49,1307.63,47.10,1424.23,1825.94,90.66,3.48,16369.25,3344.31,4017.25,14247.43,1398.28,50.59
21,FCF,2000,6343.57,3705.87,4563.82,22.74,3030.55,450.99,304.27,1.69,14636.00,3787.49,9374.11,4156.86,4868.08,24.43
22,FCF,2001,4278.84,9786.36,2936.88,282.36,2062.57,1310.66,182.43,21.49,17284.45,3577.15,6341.42,11097.02,3119.31,303.85
23,FCF,2002,2531.85,6967.77,7224.51,139.66,870.18,838.73,463.93,9.95,16863.80,2182.80,3402.04,7806.50,7688.44,149.62
24,FCF,2003,2910.96,3189.62,3703.83,177.47,929.28,371.69,227.85,12.15,9981.89,1540.97,3840.24,3561.31,3931.69,189.62
25,FCF,2004,2628.17,3991.10,3117.95,110.99,1118.39,643.59,176.99,7.67,9848.20,1946.64,3746.56,4634.69,3294.94,118.66
26,FCF,2005,3417.03,3661.93,2902.75,61.60,1373.25,497.37,124.83,3.98,10043.31,1999.43,4790.28,4159.30,3027.58,65.58
27,FCF,2006,897.74,4326.67,2183.19,18.69,360.21,596.27,124.68,1.20,7426.29,1082.36,1257.95,4922.94,2307.87,19.88
28,FCF,2007,3957.21,1206.48,2994.26,9.08,2676.56,178.38,139.14,0.60,8167.03,2994.69,6633.77,1384.87,3133.39,9.69
29,FCF,2008,1258.52,4372.22,340.05,6.12,516.39,650.41,18.28,0.41,5976.91,1185.49,1774.92,5022.64,358.32,6.53
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,UGS,1991,177.16,194.55,2100.55,1155.63,134.90,101.49,100.26,58.84,3627.89,395.50,312.06,296.04,2200.82,1214.47
727,UGS,1992,105.56,134.75,1040.84,1218.23,109.32,88.21,51.75,66.15,2499.38,315.43,214.88,222.96,1092.59,1284.38
728,UGS,1993,195.25,144.13,1067.80,768.84,132.40,73.31,55.34,36.81,2176.02,297.86,327.65,217.44,1123.14,805.65
729,UGS,1994,94.01,100.43,568.03,708.43,79.35,51.55,24.72,37.34,1470.91,192.96,173.36,151.99,592.75,745.77
730,UGS,1995,51.52,37.92,380.91,144.27,72.78,35.55,26.34,9.65,614.62,144.32,124.30,73.46,407.25,153.93
731,UGS,1996,83.77,51.02,354.43,204.93,138.46,53.41,27.24,14.31,694.15,233.43,222.23,104.43,381.67,219.24
732,UGS,1997,55.61,51.52,261.45,151.76,96.53,58.29,19.27,10.33,520.35,184.43,152.15,109.81,280.73,162.09
733,UGS,1998,27.41,18.61,148.77,59.05,64.16,27.62,11.74,4.08,253.84,107.60,91.57,46.24,160.51,63.12
734,UGS,1999,79.29,67.11,385.50,283.48,151.32,80.91,29.52,19.76,815.38,281.51,230.60,148.03,415.02,303.23
735,UGS,2000,35.78,50.00,332.19,85.12,63.03,55.25,25.58,5.91,503.09,149.76,98.81,105.25,357.76,91.03
736,UGS,2001,32.77,27.84,351.71,203.10,72.00,38.66,27.79,14.16,615.42,152.61,104.77,66.50,379.51,217.25
737,UGS,2002,45.59,45.20,332.96,370.25,80.59,51.09,25.31,25.62,794.01,182.60,126.18,96.28,358.27,395.87
738,UGS,2003,28.02,22.39,199.59,116.18,72.03,36.37,16.43,8.13,366.18,132.96,100.05,58.77,216.03,124.31
739,UGS,2004,29.42,35.52,261.38,273.62,91.60,70.61,21.88,19.19,599.94,203.28,121.02,106.14,283.26,292.81
740,UGS,2005,22.24,26.10,288.21,182.29,67.44,49.78,24.66,12.98,518.83,154.85,89.67,75.87,312.87,195.27
741,UGS,2006,22.01,19.76,204.39,222.48,75.09,42.62,17.70,15.88,468.64,151.29,97.10,62.38,222.09,238.36
742,UGS,2007,19.40,22.17,173.19,121.48,67.42,47.36,15.46,8.80,336.23,139.05,86.81,69.53,188.66,130.28
743,UGS,2008,11.49,12.80,126.34,56.02,49.16,33.82,11.79,4.08,206.64,98.85,60.64,46.62,138.13,60.09
744,UGS,2009,34.09,23.68,238.46,179.56,70.71,32.12,18.46,12.40,475.79,133.69,104.80,55.80,256.92,191.97
745,UGS,2010,26.93,24.59,165.12,137.70,57.47,32.80,13.27,9.74,354.34,113.28,84.40,57.39,178.40,147.44
746,UGS,2011,26.04,31.90,256.19,110.80,56.45,43.15,20.81,7.88,424.93,128.29,82.50,75.05,277.00,118.68
747,UGS,2012,37.96,37.33,415.13,286.71,54.95,33.88,31.97,20.17,777.13,140.97,92.91,71.21,447.10,306.88
748,UGS,2013,70.67,48.71,435.21,421.02,100.89,43.72,33.50,29.63,975.62,207.74,171.56,92.43,468.72,450.65
749,UGS,2014,93.23,72.68,413.51,200.31,98.21,49.09,30.56,13.93,779.73,191.79,191.43,121.77,444.08,214.23
750,UGS,2015,108.35,126.66,887.60,391.17,167.57,122.84,68.98,27.60,1513.77,386.99,275.92,249.49,956.58,418.77
751,UGS,2016,70.90,87.37,914.32,437.64,109.96,84.93,71.09,30.89,1510.22,296.88,180.86,172.30,985.41,468.54
752,UGS,2017,45.32,94.27,1012.88,454.64,74.17,96.46,79.34,32.14,1607.11,282.11,119.49,190.72,1092.22,486.78
753,UGS,2018,10.60,39.88,731.44,500.64,21.55,50.52,59.00,35.60,1282.56,166.67,32.15,90.40,790.44,536.24
754,UGS,2019,4105.09,460.06,9747.11,6318.70,2307.58,163.79,168.70,166.31,20630.97,2806.38,6412.67,623.85,9915.81,6485.01
755,UGS,2020,290.51,247.04,191.30,230.84,116.32,65.41,4.44,7.96,959.69,194.13,406.83,312.45,195.74,238.80

In [165]:
# merge df here with the dataframe from section 4 cohort table
# add the catch to the cohort estimates based on seasonal estimates
# simplify hierarchical column names for join later

In [171]:
pivCatch2 = pivCatch.iloc[:,[0,1,82,83,84,85,86,87,88,89,90,91,92,93,94,95]]

# drop empty levels
pivCatch2.columns = pivCatch2.columns.droplevel('Age')
pivCatch2.columns = pivCatch2.columns.droplevel('FishNum')

In [245]:
# need to remove preceding space from 'Stock' codes 
pivCatch2['Stock'] = pivCatch2.apply (lambda row: fix_code(row), axis=1)

NameError: name 'pivCatch3' is not defined

### Final Joins, Export, Data Summary

In [331]:
Final_df = pd.merge(ASL_df3, pivCatch2, on=['Stock','Year'], how='inner')

In [332]:
len(ASL_df2)

1076

In [333]:
Final_df[0:10]

,Stock,stock_desc,Year,2,3,4,5,area,runtype,season,proportion,2_w,3_w,4_w,5_w,PSC,recovery_year,rec_season,PSC_desc_x,SS_mean_2,SS_mean_3,SS_mean_4,SS_mean_5,SS_mean_6,SS_count_2,SS_count_3,SS_count_4,SS_count_5,SS_count_6,PSC_desc_y,alla_mean_2,alla_mean_3,alla_mean_4,alla_mean_5,alla_mean_6,alla_count_2,alla_count_3,alla_count_4,alla_count_5,alla_count_6,PSC_desc,ally_mean_2,ally_mean_3,ally_mean_4,ally_mean_5,ally_mean_6,ally_count_2,ally_count_3,ally_count_4,ally_count_5,ally_count_6,TotCatch_Age2,TotCatch_Age3,TotCatch_Age4,TotCatch_Age5,TotShakers_Age2,TotShakers_Age3,TotShakers_Age4,TotShakers_Age5,TotalCatch,TotalShakers,TotCatchShake_Age2,TotCatchShake_Age3,TotCatchShake_Age4,TotCatchShake_Age5
0,FCF,Chilliwack Fall Hatchery,1983,43599.0,5538.0,2389.0,99.0,fraser,fall,spring,0.35,15259.65,1938.3,836.15,34.65,FCF,1983,spring,Chilliwack Fall Hatchery,68.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,68.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,69.00,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN,3327.73,1480.62,1214.48,31.51,869.43,88.20,29.91,1.13,6054.33,988.67,4197.16,1568.82,1244.39,32.64
1,FCF,Chilliwack Fall Hatchery,1983,43599.0,5538.0,2389.0,99.0,fraser,fall,summer,0.35,15259.65,1938.3,836.15,34.65,FCF,1983,summer,Chilliwack Fall Hatchery,395.50,NaN,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,454.88,NaN,NaN,NaN,NaN,43.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,454.49,669.47,810.12,861.84,NaN,134.0,3074.0,1171.0,38.0,0.0,3327.73,1480.62,1214.48,31.51,869.43,88.20,29.91,1.13,6054.33,988.67,4197.16,1568.82,1244.39,32.64
2,FCF,Chilliwack Fall Hatchery,1983,43599.0,5538.0,2389.0,99.0,fraser,fall,fall,0.40,17439.60,2215.2,955.60,39.60,FCF,1983,fall,Chilliwack Fall Hatchery,455.21,NaN,NaN,NaN,NaN,48.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,471.69,NaN,NaN,NaN,NaN,169.0,NaN,NaN,NaN,NaN,Chilliwack Fall Hatchery,467.96,690.96,853.38,920.62,NaN,646.0,1858.0,599.0,34.0,NaN,3327.73,1480.62,1214.48,31.51,869.43,88.20,29.91,1.13,6054.33,988.67,4197.16,1568.82,1244.39,32.64
3,FCF,Chilliwack Fall Hatchery,1984,59601.0,20532.0,948.0,48.0,fraser,fall,spring,0.35,20860.35,7186.2,331.80,16.80,FCF,1984,spring,Chilliwack Fall Hatchery,NaN,650.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,NaN,653.50,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,69.00,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN,5480.53,5266.34,339.11,13.49,1157.09,342.37,13.98,0.65,11099.47,1514.09,6637.62,5608.71,353.09,14.14
4,FCF,Chilliwack Fall Hatchery,1984,59601.0,20532.0,948.0,48.0,fraser,fall,summer,0.35,20860.35,7186.2,331.80,16.80,FCF,1984,summer,Chilliwack Fall Hatchery,NaN,372.25,NaN,NaN,NaN,0.0,8.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,340.00,630.00,NaN,NaN,NaN,1.0,247.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,454.49,669.47,810.12,861.84,NaN,134.0,3074.0,1171.0,38.0,0.0,5480.53,5266.34,339.11,13.49,1157.09,342.37,13.98,0.65,11099.47,1514.09,6637.62,5608.71,353.09,14.14
5,FCF,Chilliwack Fall Hatchery,1984,59601.0,20532.0,948.0,48.0,fraser,fall,fall,0.40,23840.40,8212.8,379.20,19.20,FCF,1984,fall,Chilliwack Fall Hatchery,402.20,579.59,NaN,NaN,NaN,5.0,17.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,423.36,656.94,NaN,NaN,NaN,25.0,173.0,NaN,NaN,NaN,Chilliwack Fall Hatchery,467.96,690.96,853.38,920.62,NaN,646.0,1858.0,599.0,34.0,NaN,5480.53,5266.34,339.11,13.49,1157.09,342.37,13.98,0.65,11099.47,1514.09,6637.62,5608.71,353.09,14.14
6,FCF,Chilliwack Fall Hatchery,1985,184987.0,30440.0,4135.0,18.0,fraser,fall,spring,0.35,64745.45,10654.0,1447.25,6.30,FCF,1985,spring,Chilliwack Fall Hatchery,NaN,585.00,676.67,NaN,NaN,NaN,2.0,3.0,NaN,NaN,Chilliwack Fall Hatchery,NaN,632.67,741.10,NaN,NaN,NaN,6.0,40.0,NaN,NaN,Chilliwack Fall Hatchery,69.00,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN,11684.65,5754.89,1021.85,4.12,2681.83,383.90,46.11,0.18,18465.51,3112.02,14366.49,6138.78,1067.96,4.30
7,FCF,Chilliwack Fall Hatchery,1985,184987.0,30440.0,4135.0,18.0,fraser,fall,summer,0.35,64745.45,10654.0,1447.25,6.30,FCF,1985,summer,Chilliwack Fall Hatchery,NaN,347.33,710.00,NaN,NaN,0.0,3.0,1.0,NaN,NaN,Chilliwack Fall Hatchery,466.50,619.02,780.76,NaN,NaN,4.0,40.0,96.0,NaN,NaN,Chilliwack Fall Hatchery,454.49,669.47,810.12,861.84,NaN,134.0,3074.0,1171.0,38.0,0.0,11684.65,5754.89,1021.85,4.12,2681.83,383.90,46.11,0.18,18465.51,3112.02,14366.49,6138.78,1067.96,4.30
8,FCF,Chilliwack Fall Hatchery,1985,184987.0,30440.0,4135.0,18.0,fraser,fall,fall,0.40,73994.80,12176.0,1654.00,7.20,FCF,1985,fall,Chilliwack Fall Hatchery,410.50,340.14,753.90,NaN,NaN,6.0,7.0,10.0,NaN,NaN,Chilliwack Fall Hatchery,427.87,604.78,792.37,NaN,NaN,30.0,37.0,68.0,NaN,NaN,Chilliwack Fall Hatchery,467.96,690.96,853.38,920.62,NaN,646.0,1858.0,599.0,34.0,NaN,11684.65,5754.89,1021.85,4.12,2681.83,383.90,46.11,0.18,18465.51,3112.02,14366.49,6138.78,1067.96,4.30
9,FCF,Chilliwack Fall Hatchery,1986,204820.0,93906.0,11463.0,722.0,fraser,fall,spring,0.35,71687.00,32867.1,4012.05,252.70,FCF,1986,spring,Chilliwack Fall Hatchery,NaN,331.50,NaN,NaN,NaN,NaN,2.0,0.0,0.0,NaN,Chilliwack Fall Hatchery,NaN,499.50,NaN,NaN,NaN,NaN,4.0,0.0,0.0,NaN,Chilliwack Fall Hatchery,69.00,649.31,784.04,869.08,NaN,2.0,986.0,708.0,26.0,NaN,12578.30,17165.66,3792.55,206.71,2620.21,1198.65,142.84,8.30,33743.22,3969.99,15198.51,18364.30,3935.40,215.01

In [334]:
# export
Final_df.to_csv (r'Step2FinalOut.csv', index = True, header=True)

### A Bit of Data Exploration

In [345]:
# I should be creating a function for below but this is quick and dirty method
# purpose is to create a table with counts of records over / under 20 

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100

#create a tuple with spring, summer, fall percentages for age
age2 = ("Salish Sea Recoveries", 2, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age3 = ("Salish Sea Recoveries", 3, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age4 = ("Salish Sea Recoveries", 4, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age5 = ("Salish Sea Recoveries", 5, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['SS_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100

#create a tuple with spring, summer, fall percentages for age
age6 = ("Salish Sea Recoveries", 6, percent1, percent2, percent3)

recovsSS = [age2, age3, age4, age5, age6]

#***********************************
# for recovery df including outside SS
df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100


df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_2'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100

#create a tuple with spring, summer, fall percentages for age
age2 = ("All Areas", 2, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100


df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_3'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age3 = ("All Areas", 3, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100


df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_4'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age4 = ("All Areas", 4, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100


df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_5'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age5 = ("All Areas", 5, percent1, percent2, percent3)

df1 = Final_df.loc[(Final_df['season'] == "spring")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent1 = numOfRows/len(df1)*100

df1 = Final_df.loc[(Final_df['season'] == "summer")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent2 = numOfRows/len(df1)*100


df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj1 = df1.apply(lambda x: True if x['alla_count_6'] > 20 else False , axis=1)
# Count number of True in series
numOfRows = len(seriesObj1[seriesObj1 == True].index)
percent3 = numOfRows/len(df1)*100


#create a tuple with spring, summer, fall percentages for age
age6 = ("All Areas", 6, percent1, percent2, percent3)

recovsALL = [age2, age3, age4, age5, age6]

In [351]:
df1 = Final_df.loc[(Final_df['season'] == "fall")] 
seriesObj2 = df1.apply(lambda x: True if ((x['SS_count_2'] > 20) &
                                          (x['SS_count_3'] > 20) &
                                          (x['SS_count_4'] > 20) &
                                          (x['SS_count_5'] > 20) &
                                         (x['SS_count_6'] > 20)) else False , axis=1)
seriesObj2

2       False
5       False
8       False
11      False
14      False
17      False
20      False
23      False
26      False
29      False
32      False
35      False
38      False
41      False
44      False
47      False
50      False
53      False
56      False
59      False
62      False
65      False
68      False
71      False
74      False
77      False
80      False
83      False
86      False
89      False
        ...
993     False
995     False
997     False
999     False
1002    False
1005    False
1008    False
1011    False
1014    False
1017    False
1020    False
1023    False
1026    False
1029    False
1032    False
1035    False
1038    False
1041    False
1044    False
1047    False
1050    False
1053    False
1056    False
1059    False
1062    False
1065    False
1068    False
1071    False
1074    False
1075    False
Length: 363, dtype: bool

In [343]:
print(recovsALL)

[('All Areas', 2, 0.0, 1.5189873417721518, 12.396694214876034), ('All Areas', 3, 18.238993710691823, 38.9873417721519, 48.760330578512395), ('All Areas', 4, 25.78616352201258, 41.51898734177215, 32.78236914600551), ('All Areas', 5, 0.0, 1.7721518987341773, 2.203856749311295), ('All Areas', 6, 0.0, 0.0, 0.0)]

In [262]:
# create field for length observation that will be using for each age class

In [ ]:
# let's remove all fields except year, stock, season, and length observ count (from all areas). 
# Then pivot so season is now a column
# then count for each year, stock, and age group whether there are more than 20 observations 
# in at least one season (in all areas)
pivCWT_AllAreas = pd.pivot_table(CWTALL_df, values = 'length', aggfunc=[np.mean, 'count'], index=['PSC','PSC_desc','recovery_year','rec_season'], columns = 'recovery_age').reset_index()
# get only some fields

In [356]:
stats_df1 = Final_df[['Stock','Year','season','alla_count_2','alla_count_3','alla_count_4','alla_count_5','alla_count_6']]

In [358]:
stats_df2 = pd.pivot_table(stats_df1, values = ['alla_count_2','alla_count_3','alla_count_4','alla_count_5','alla_count_6'], index=['Stock','Year'], columns = ['season']).reset_index()

In [376]:
# columns to hold count of how many seasons for each age and year and stock have >20 observ
stats_df2['age2_allseasons'] = 1
stats_df2['age3_allseasons'] = 1
stats_df2['age4_allseasons'] = 1
stats_df2['age5_allseasons'] = 1
stats_df2['age6_allseasons'] = 1

# determine if > 20 obs in at least one season for age
stats_df2['age2_allseasons'] = stats_df2['age2_allseasons'].where((stats_df2['alla_count_2', 'spring'] > 20) | 
                                                                  (stats_df2['alla_count_2', 'summer'] > 20) |
                                                                  (stats_df2['alla_count_2', 'fall'] > 20), 0)
stats_df2['age3_allseasons'] = stats_df2['age3_allseasons'].where((stats_df2['alla_count_3', 'spring'] > 20) | 
                                                                  (stats_df2['alla_count_3', 'summer'] > 20) |
                                                                  (stats_df2['alla_count_3', 'fall'] > 20), 0)
stats_df2['age4_allseasons'] = stats_df2['age4_allseasons'].where((stats_df2['alla_count_4', 'spring'] > 20) | 
                                                                  (stats_df2['alla_count_4', 'summer'] > 20) |
                                                                  (stats_df2['alla_count_4', 'fall'] > 20), 0)
stats_df2['age5_allseasons'] = stats_df2['age5_allseasons'].where((stats_df2['alla_count_5', 'spring'] > 20) | 
                                                                  (stats_df2['alla_count_5', 'summer'] > 20) |
                                                                  (stats_df2['alla_count_5', 'fall'] > 20), 0)
stats_df2['age6_allseasons'] = stats_df2['age6_allseasons'].where((stats_df2['alla_count_6', 'spring'] > 20) | 
                                                                  (stats_df2['alla_count_6', 'summer'] > 20) |
                                                                  (stats_df2['alla_count_6', 'fall'] > 20), 0)

In [378]:
# column for sum of ages w/ at least one season w/ > 20 obs
stats_df2['sum_allages'] = stats_df2['age2_allseasons'] + stats_df2['age3_allseasons'] + stats_df2['age4_allseasons'] + stats_df2['age5_allseasons'] + stats_df2['age6_allseasons']

In [383]:
stats_df2[['Year','Stock','sum_allages']]

        Year Stock sum_allages
season
0       1983  FCF   1
1       1984  FCF   2
2       1985  FCF   3
3       1986  FCF   2
4       1987  FCF   2
5       1988  FCF   2
6       1989  FCF   1
7       1990  FCF   2
8       1991  FCF   3
9       1992  FCF   2
10      1993  FCF   2
11      1994  FCF   1
12      1995  FCF   1
13      1996  FCF   1
14      1997  FCF   2
15      1998  FCF   1
16      1999  FCF   1
17      2000  FCF   1
18      2001  FCF   2
19      2002  FCF   2
20      2003  FCF   3
21      2004  FCF   2
22      2005  FCF   2
23      2006  FCF   2
24      2007  FCF   2
25      2008  FCF   1
26      2009  FCF   1
27      2010  FCF   1
28      2011  FCF   2
29      2012  FCF   3
..       ...  ...  ..
390     2010  SKG   0
391     2011  SKG   0
392     2012  SKG   0
393     2013  SKG   0
394     1979  SNO   1
395     1980  SNO   1
396     1981  SNO   0
397     1988  SNO   0
398     1989  SNO   0
399     1990  SNO   1
400     1991  SNO   0
401     1992  SNO   0
402     1998  SNO   0
403     1999  SNO   1
404     2000  SNO   2
405     2001  SNO   2
406     2002  SNO   1
407     2003  SNO   1
408     2004  SNO   2
409     2005  SNO   2
410     2006  SNO   2
411     2007  SNO   2
412     2008  SNO   1
413     2009  SNO   1
414     2010  SNO   1
415     2011  SNO   2
416     2012  SNO   2
417     2013  SNO   2
418     2014  SNO   1
419     2015  SNO   2

[420 rows x 3 columns]

In [384]:
stats_df3 = pd.pivot_table(stats_df2, values = ['sum_allages'], index=['Year'], columns = ['Stock']).reset_index()

In [385]:
# do pivot so we can generate a graphic
stats_df3

        Year sum_allages                                                    \
season
Stock                FCF  FHF  FS2  FS3  FSO  FSS  NKF  NKS  PSF  PSN  PSY
0       1979 NaN         NaN   0.0  0.0  0.0 NaN   2.0 NaN   1.0  3.0  0.0
1       1980 NaN         NaN   0.0  0.0  0.0  0.0  2.0 NaN   1.0  3.0  0.0
2       1981 NaN         NaN   0.0  0.0  0.0  0.0  2.0 NaN   2.0  2.0  1.0
3       1982 NaN         NaN  NaN  NaN   1.0  0.0  1.0  0.0  3.0  2.0  1.0
4       1983  1.0         1.0 NaN   0.0  0.0  0.0  1.0  0.0  4.0  3.0  2.0
5       1984  2.0         2.0  0.0 NaN   0.0  0.0  3.0  1.0  2.0  3.0  2.0
6       1985  3.0         2.0  0.0  0.0 NaN   1.0  0.0  0.0  1.0  1.0  1.0
7       1986  2.0         1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  2.0  1.0
8       1987  2.0         1.0  0.0  0.0  1.0  1.0  0.0  1.0  1.0  1.0  0.0
9       1988  2.0         3.0  0.0  0.0  2.0  1.0  2.0  1.0  2.0  1.0  2.0
10      1989  1.0         1.0  1.0  0.0  1.0  1.0  2.0  0.0  3.0  0.0  3.0
11      1990  2.0         3.0  0.0  0.0  1.0  2.0  3.0  0.0  3.0  1.0  2.0
12      1991  3.0         2.0  0.0  0.0  2.0  2.0  3.0  0.0  3.0  2.0  3.0
13      1992  2.0         2.0  1.0  0.0  1.0  2.0  2.0  1.0  3.0  2.0  3.0
14      1993  2.0         2.0  2.0  0.0  2.0  3.0  2.0  0.0  2.0  2.0  3.0
15      1994  1.0         0.0  1.0  0.0  1.0  1.0  2.0  0.0  3.0  1.0  2.0
16      1995  1.0         0.0  0.0  0.0  1.0  2.0  2.0  1.0  3.0  1.0  2.0
17      1996  1.0         0.0  0.0  0.0  1.0  0.0  2.0  1.0  2.0  2.0  2.0
18      1997  2.0         1.0  0.0  0.0  1.0  0.0  2.0  1.0  2.0  1.0  2.0
19      1998  1.0         0.0  0.0  0.0  1.0  0.0  1.0  1.0  2.0  0.0  2.0
20      1999  1.0         1.0  0.0  0.0  1.0  0.0  2.0  1.0  2.0  1.0  1.0
21      2000  1.0         1.0  0.0  0.0  1.0 NaN   1.0  0.0  2.0  2.0  2.0
22      2001  2.0         0.0  0.0  0.0  1.0 NaN   2.0  1.0  2.0  1.0  1.0
23      2002  2.0         0.0  0.0  0.0  1.0  0.0  2.0  1.0  2.0  0.0  1.0
24      2003  3.0         0.0  0.0  0.0  1.0  0.0  2.0  0.0  2.0  1.0  1.0
25      2004  2.0         0.0  0.0 NaN   2.0  0.0  2.0  2.0  3.0  1.0  1.0
26      2005  2.0         0.0  0.0  0.0  1.0  0.0  2.0  0.0  2.0  1.0  1.0
27      2006  2.0         1.0  0.0  0.0  1.0  0.0  2.0  0.0  3.0  1.0  2.0
28      2007  2.0         0.0 NaN   0.0  0.0 NaN   3.0  1.0  2.0  1.0  2.0
29      2008  1.0         1.0  0.0  0.0  1.0 NaN   2.0  1.0  2.0  0.0  0.0
30      2009  1.0         0.0  0.0  0.0  2.0 NaN   3.0  0.0  2.0  0.0  0.0
31      2010  1.0         1.0  1.0 NaN   2.0 NaN   2.0  1.0  2.0  0.0  0.0
32      2011  2.0         2.0  0.0  0.0  1.0 NaN   2.0  0.0  3.0  0.0  0.0
33      2012  3.0         1.0  0.0  0.0  2.0 NaN   2.0  1.0  2.0  0.0  1.0
34      2013  2.0         1.0  1.0 NaN   2.0 NaN   2.0  1.0  2.0  0.0  1.0
35      2014  2.0         2.0  0.0 NaN   2.0 NaN   2.0  1.0  2.0  0.0  1.0
36      2015  2.0         1.0  0.0 NaN   2.0 NaN   2.0  2.0  2.0  0.0  1.0


season
Stock   SKG  SNO
0       0.0  1.0
1       1.0  1.0
2       0.0  0.0
3       0.0 NaN
4      NaN  NaN
5      NaN  NaN
6      NaN  NaN
7      NaN  NaN
8      NaN  NaN
9      NaN   0.0
10     NaN   0.0
11     NaN   1.0
12     NaN   0.0
13     NaN   0.0
14     NaN  NaN
15     NaN  NaN
16     NaN  NaN
17     NaN  NaN
18      0.0 NaN
19      0.0  0.0
20      0.0  1.0
21      0.0  2.0
22      1.0  2.0
23      1.0  1.0
24      0.0  1.0
25      0.0  2.0
26      0.0  2.0
27      0.0  2.0
28      2.0  2.0
29      1.0  1.0
30      1.0  1.0
31      0.0  1.0
32      0.0  2.0
33      0.0  2.0
34      0.0  2.0
35     NaN   1.0
36     NaN   2.0

In [386]:
stats_df3.to_csv (r'Step2DataVis.csv', index = True, header=True)

In [393]:
pivCWT_AllAreas.loc[(pivCWT_AllAreas['PSC'] == 'FS2')]

,PSC,PSC_desc,recovery_year,rec_season,alla_mean_2,alla_mean_3,alla_mean_4,alla_mean_5,alla_mean_6,alla_count_2,alla_count_3,alla_count_4,alla_count_5,alla_count_6
258,FS2,Fraser Spring 1.2,1979,fall,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
265,FS2,Fraser Spring 1.2,1982,fall,NaN,NaN,NaN,960.0,NaN,NaN,NaN,NaN,1.0,NaN
268,FS2,Fraser Spring 1.2,1984,fall,NaN,500.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
273,FS2,Fraser Spring 1.2,1986,fall,600.0,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN
276,FS2,Fraser Spring 1.2,1987,fall,NaN,621.00,NaN,NaN,NaN,NaN,5.0,NaN,0.0,NaN
280,FS2,Fraser Spring 1.2,1988,fall,NaN,534.00,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN
283,FS2,Fraser Spring 1.2,1989,fall,NaN,612.00,698.00,NaN,NaN,NaN,1.0,2.0,NaN,NaN
287,FS2,Fraser Spring 1.2,1990,fall,505.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
290,FS2,Fraser Spring 1.2,1991,fall,NaN,514.50,656.00,NaN,NaN,NaN,2.0,1.0,NaN,NaN
294,FS2,Fraser Spring 1.2,1992,fall,NaN,543.50,705.00,NaN,NaN,NaN,2.0,1.0,NaN,NaN
297,FS2,Fraser Spring 1.2,1993,fall,NaN,595.00,682.00,NaN,NaN,NaN,2.0,3.0,NaN,NaN
301,FS2,Fraser Spring 1.2,1994,fall,NaN,NaN,679.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
304,FS2,Fraser Spring 1.2,1995,fall,NaN,610.00,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN
312,FS2,Fraser Spring 1.2,1999,fall,NaN,NaN,640.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
317,FS2,Fraser Spring 1.2,2001,fall,NaN,NaN,699.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
320,FS2,Fraser Spring 1.2,2002,fall,NaN,NaN,732.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
338,FS2,Fraser Spring 1.2,2011,fall,NaN,601.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
347,FS2,Fraser Spring 1.2,2015,fall,NaN,530.00,680.00,NaN,NaN,NaN,1.0,2.0,NaN,NaN
259,FS2,Fraser Spring 1.2,1979,spring,NaN,NaN,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN
261,FS2,Fraser Spring 1.2,1980,spring,NaN,NaN,631.00,NaN,NaN,NaN,0.0,1.0,NaN,NaN
263,FS2,Fraser Spring 1.2,1981,spring,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN
269,FS2,Fraser Spring 1.2,1984,spring,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
271,FS2,Fraser Spring 1.2,1985,spring,NaN,NaN,738.50,NaN,NaN,NaN,0.0,2.0,NaN,NaN
274,FS2,Fraser Spring 1.2,1986,spring,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN
277,FS2,Fraser Spring 1.2,1987,spring,NaN,650.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
281,FS2,Fraser Spring 1.2,1988,spring,NaN,NaN,720.00,NaN,NaN,NaN,0.0,1.0,NaN,NaN
284,FS2,Fraser Spring 1.2,1989,spring,NaN,468.33,439.00,NaN,NaN,NaN,3.0,2.0,NaN,NaN
288,FS2,Fraser Spring 1.2,1990,spring,NaN,620.00,690.00,NaN,NaN,NaN,1.0,1.0,NaN,NaN
291,FS2,Fraser Spring 1.2,1991,spring,NaN,650.00,660.00,NaN,NaN,NaN,1.0,1.0,NaN,NaN
295,FS2,Fraser Spring 1.2,1992,spring,NaN,NaN,508.00,NaN,NaN,0.0,NaN,3.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,FS2,Fraser Spring 1.2,1992,summer,NaN,494.60,651.95,780.0,NaN,NaN,5.0,22.0,2.0,NaN
299,FS2,Fraser Spring 1.2,1993,summer,NaN,574.60,688.94,840.0,NaN,NaN,30.0,34.0,1.0,NaN
303,FS2,Fraser Spring 1.2,1994,summer,NaN,671.67,722.58,NaN,NaN,NaN,6.0,26.0,NaN,NaN
306,FS2,Fraser Spring 1.2,1995,summer,NaN,627.86,680.21,NaN,NaN,NaN,14.0,14.0,0.0,NaN
307,FS2,Fraser Spring 1.2,1996,summer,NaN,NaN,NaN,942.0,NaN,NaN,NaN,0.0,1.0,NaN
309,FS2,Fraser Spring 1.2,1997,summer,NaN,NaN,614.00,967.0,NaN,NaN,NaN,3.0,1.0,NaN
311,FS2,Fraser Spring 1.2,1998,summer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
314,FS2,Fraser Spring 1.2,1999,summer,NaN,NaN,675.00,NaN,NaN,NaN,NaN,4.0,NaN,NaN
316,FS2,Fraser Spring 1.2,2000,summer,NaN,NaN,690.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
319,FS2,Fraser Spring 1.2,2001,summer,NaN,NaN,710.93,NaN,NaN,NaN,NaN,14.0,0.0,NaN
322,FS2,Fraser Spring 1.2,2002,summer,NaN,NaN,712.55,NaN,NaN,NaN,NaN,11.0,0.0,NaN
324,FS2,Fraser Spring 1.2,2003,summer,NaN,NaN,728.55,780.0,NaN,NaN,0.0,11.0,1.0,NaN
326,FS2,Fraser Spring 1.2,2004,summer,NaN,NaN,711.50,NaN,NaN,NaN,NaN,2.0,0.0,NaN
328,FS2,Fraser Spring 1.2,2005,summer,NaN,NaN,730.00,NaN,NaN,NaN,NaN,2.0,NaN,NaN
329,FS2,Fraser Spring 1.2,2006,summer,NaN,NaN,708.60,NaN,NaN,NaN,NaN,5.0,NaN,NaN
331,FS2,Fraser Spring 1.2,2007,summer,NaN,570.00,670.00,NaN,NaN,NaN,1.0,1.0,NaN,NaN
332,FS2,Fraser Spring 1.2,2008,summer,NaN,NaN,703.54,NaN,NaN,NaN,NaN,13.0,NaN,NaN
334,FS2,Fraser Spring 1.2,2009,summer,NaN,500.00,700.00,790.0,NaN,NaN,1.0,2.0,3.0,NaN
336,FS2,Fraser Spring 1.2,2010,summer,NaN,NaN,723.59,NaN,NaN,NaN,NaN,22.0,NaN,NaN
340,FS2,Fraser Spring 1.2,2011,summer,NaN,530.00,721.10,NaN,NaN,NaN,1.0,10.0,NaN,NaN
342,FS2,Fraser Spring 1.2,2012,summer,NaN,NaN,683.00,NaN,NaN,NaN,NaN,20.0,NaN,NaN
344,FS2,Fraser Spring 1.2,2013,summer,NaN,NaN,684.96,NaN,NaN,NaN,NaN,23.0,NaN,NaN
346,FS2,Fraser Spring 1.2,2014,summer,NaN,NaN,790.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
349,FS2,Fraser Spring 1.2,2015,summer,NaN,NaN,675.33,720.0,NaN,NaN,NaN,15.0,1.0,NaN
279,FS2,Fraser Spring 1.2,1987,winter,NaN,550.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
286,FS2,Fraser Spring 1.2,1989,winter,NaN,520.00,670.00,NaN,NaN,NaN,1.0,1.0,NaN,NaN
293,FS2,Fraser Spring 1.2,1991,winter,NaN,102.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
300,FS2,Fraser Spring 1.2,1993,winter,NaN,90.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
308,FS2,Fraser Spring 1.2,1996,winter,NaN,NaN,111.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN
337,FS2,Fraser Spring 1.2,2010,winter,NaN,NaN,645.00,NaN,NaN,NaN,NaN,1.0,NaN,NaN